swagger: '2.0'
info:
  title: Smartwin API doc
  description: >-
    Feed your trading app with Smartwin API.
    [Edit](http://editor.swagger.io/#/?import=https://quantowin.com/api/public/doc/swagger.yaml)
  version: 1.0.0
host: quantowin.com
schemes:
  - https
basePath: /api
produces:
  - application/json
consumes:
  - application/json
security:
  - jsonWebToken: []
paths:
  /public/auth/wechat:
    get:
      tags:
        - Auth
      summary: Get a token by Wechat scan auth
      description: >
        The Wechat auth endpoint is called by qiyehao, following a QRcode scan
        using the user Wechat. The QRcode url contain the client socket.io ID,
        so the server can push the jwt token to the client, and then redirect the user browser
        to https://quantowin.com/api/public/wxclose with a 302 redirect status.
      parameters:
        - name: code
          in: query
          description: server use it to query qiyehao user infos
          required: true
          type: string
        - name: state
          in: query
          description: This is the client socket.io ID
          required: true
          type: string
      responses:
        '302':
          description: Success
          headers:
            Location:
              description: https://quantowin.com/api/public/wxclose
              type: string
        '401':
          description: Invalid user
      security: []
  /public/auth/password:
    post:
      tags:
        - Auth
      summary: Get a token by password auth
      description: >
        Create a token for the user by userid + password.
      parameters:
        - name: body
          in: body
          description: This is the viewer password update object
          required: true
          schema:
            $ref: '#/definitions/authPassword'
      responses:
        '200':
          description: A token response
          schema:
            type: object
            required:
              - ok
              - token
            properties:
              ok:
                type: boolean
                default: true
              token:
                $ref: '#/definitions/Token'
        '401':
          description: Invalid password
        '404':
          description: User not found
      security: []
  /users:
    get:
      summary: Get all users profiles
      description: >
        Get all users profiles informations.
      tags:
        - Users
      responses:
        '200':
          description: The users profile infos
          schema:
            type: object
            required:
              - ok
              - users
            properties:
              ok:
                type: boolean
                default: true
              users:
                $ref: '#/definitions/Users'
        '404':
          description: Users not found
  /users/me:
    get:
      summary: Get viewer profile infos
      description: >
        Let the logged in user (the viewer) get his own personal infos (profile).
      tags:
        - Users
      responses:
        '200':
          description: The user profile infos
          schema:
            type: object
            required:
              - ok
            properties:
              ok:
                type: boolean
                default: true
              profile:
                $ref: '#/definitions/resProfile'
        '404':
          description: User not found
  /users/me/password:
    put:
      summary: Set or update user password
      description: >
        Let the logged in user set his password. If the user never set his
        password before, he just need to send his newPassword. After that,
        everytime he update his password, he needs to send his current password
        as well.
      parameters:
        - name: body
          in: body
          description: the new password the user wants
          required: true
          schema:
            $ref: '#/definitions/putPassword'
      tags:
        - Users
      responses:
        '200':
          description: The operation result response (true or false)
          schema:
            type: object
            required:
              - ok
            properties:
              ok:
                type: boolean
                default: true
        '401':
          description: Invalid password
        '404':
          description: User not found
  /funds:
    get:
      summary: Get all funds
      description: >
        Get all funds details.
      tags:
        - Funds
      responses:
        '200':
          description: The funds data
          schema:
            type: object
            required:
              - ok
              - funds
            properties:
              ok:
                type: boolean
                default: true
              funds:
                $ref: '#/definitions/FundsShort'
        '404':
          description: Funds not found
  /fund:
    post:
      summary: Create or update a fund
      tags:
        - Funds
      parameters:
        - name: body
          in: body
          description: The new or updated fund
          required: true
          schema:
            type: object
            required:
              - fund
            properties:
              fund:
                $ref: '#/definitions/Fund'
      responses:
        '200':
          description: The operation result response (true or false)
          schema:
            type: object
            required:
              - ok
            properties:
              ok:
                type: boolean
                default: true
    delete:
      summary: Delete a fund
      tags:
        - Funds
      parameters:
        - name: body
          in: body
          description: The fund to delete
          required: true
          schema:
            type: object
            required:
              - fundid
            properties:
              fundid:
                type: string
                example: "12345"
      responses:
        '200':
          description: The operation result response (true or false)
          schema:
            type: object
            required:
              - ok
            properties:
              ok:
                type: boolean
                default: true
  /funds/{fundid}:
    get:
      summary: Get a fund by its id
      tags:
        - Funds
      parameters:
        - name: fundid
          in: path
          description: The fund id
          required: true
          type: string
      responses:
        '200':
          description: The fund data
          schema:
            type: object
            required:
              - ok
              - fund
            properties:
              ok:
                type: boolean
                default: true
              fund:
                $ref: '#/definitions/Fund'
        '404':
          description: Fund not found
  /funds/{fundid}/total:
    get:
      summary: Get the total
      tags:
        - Funds
      parameters:
        - name: fundid
          in: path
          description: The fund id
          required: true
          type: string
        - name: tradingday
          in: query
          description: The tradingday
          required: false
          type: string
      responses:
        '200':
          description: The Total
          schema:
            type: object
            required:
              - ok
              - total
            properties:
              ok:
                type: boolean
                default: true
              total:
                $ref: '#/definitions/Total'
  /funds/{fundid}/netValue:
    get:
      summary: Get the netValue
      tags:
        - Funds
      parameters:
        - name: fundid
          in: path
          description: The fund id
          required: true
          type: string
        - name: tradingday
          in: query
          description: The tradingday
          required: true
          type: string
      responses:
        '200':
          description: The NetValue
          schema:
            type: object
            required:
              - ok
              - netValues
            properties:
              ok:
                type: boolean
                default: true
              netValues:
                $ref: '#/definitions/NetValue'
  /funds/{fundid}/netValues:
    get:
      summary: Get an array of NetValue
      tags:
        - Funds
      parameters:
        - name: fundid
          in: path
          description: The fund id
          required: true
          type: string
      responses:
        '200':
          description: An array of NetValue
          schema:
            type: object
            required:
              - ok
              - netValues
            properties:
              ok:
                type: boolean
                default: true
              netValues:
                $ref: '#/definitions/NetValues'
  /funds/{fundid}/returnByDateRange:
    get:
      summary: Get the return over a period of time
      tags:
        - Funds
      parameters:
        - name: fundid
          in: path
          description: The fund id
          required: true
          type: string
        - name: beginDate
          in: query
          description: The starting date
          required: true
          type: string
        - name: endDate
          in: query
          description: The ending date
          required: true
          type: string
      responses:
        '200':
          description: The return over period report
          schema:
            type: object
            required:
              - ok
              - returnReport
            properties:
              ok:
                type: boolean
                default: true
              returnReport:
                $ref: '#/definitions/ReturnReport'
  /funds/{fundid}/fixedIncomes:
    get:
      summary: Get an array of FixedIncome
      tags:
        - Funds
      parameters:
        - name: fundid
          in: path
          description: The fund id
          required: true
          type: string
      responses:
        '200':
          description: An array of FixedIncome
          schema:
            type: object
            required:
              - ok
              - fixedIncomes
            properties:
              ok:
                type: boolean
                default: true
              fixedIncomes:
                $ref: '#/definitions/FixedIncomes'
  /funds/{fundid}/equity/{tradingday}:
    post:
      summary: add an equity
      tags:
        - Funds
      parameters:
        - name: fundid
          in: path
          description: The fund id
          required: true
          type: string
        - name: tradingday
          in: path
          description: The trading day
          required: true
          type: string
        - name: body
          in: body
          description: the equity amount
          required: true
          schema:
            type: object
            required:
              - equity
            properties:
              equity:
                type: number
                example: 1000000
      responses:
        '200':
          description: The operation result response (true or false)
          schema:
            type: object
            required:
              - ok
            properties:
              ok:
                type: boolean
                default: true
    put:
      summary: update an equity
      tags:
        - Funds
      parameters:
        - name: fundid
          in: path
          description: The fund id
          required: true
          type: string
        - name: tradingday
          in: path
          description: The trading day
          required: true
          type: string
        - name: body
          in: body
          description: the equity amount
          required: true
          schema:
            type: object
            required:
              - equity
            properties:
              equity:
                type: number
                example: 1000000
      responses:
        '200':
          description: The operation result response (true or false)
          schema:
            type: object
            required:
              - ok
            properties:
              ok:
                type: boolean
                default: true
    delete:
      summary: delete an equity
      tags:
        - Funds
      parameters:
        - name: fundid
          in: path
          description: The fund id
          required: true
          type: string
        - name: tradingday
          in: path
          description: The trading day
          required: true
          type: string
      responses:
        '200':
          description: The operation result response (true or false)
          schema:
            type: object
            required:
              - ok
            properties:
              ok:
                type: boolean
                default: true
  /funds/{fundid}/fixedIncome/{tradingday}:
    put:
      summary: update or add a fixed income
      tags:
        - Funds
      parameters:
        - name: fundid
          in: path
          description: The fund id
          required: true
          type: string
        - name: tradingday
          in: path
          description: The trading day
          required: true
          type: string
        - name: body
          in: body
          description: The new or updated fixed income
          required: true
          schema:
            type: object
            required:
              - fixedincome
            properties:
              fixedincome:
                $ref: '#/definitions/FixedIncome'
      responses:
        '200':
          description: The operation result response (true or false)
          schema:
            type: object
            required:
              - ok
            properties:
              ok:
                type: boolean
                default: true
    delete:
      summary: delete a fixed income
      tags:
        - Funds
      parameters:
        - name: fundid
          in: path
          description: The fund id
          required: true
          type: string
        - name: tradingday
          in: path
          description: The trading day
          required: true
          type: string
      responses:
        '200':
          description: The operation result response (true or false)
          schema:
            type: object
            required:
              - ok
            properties:
              ok:
                type: boolean
                default: true
  /funds/{fundid}/appends:
    get:
      summary: Get an array of Append
      tags:
        - Funds
      parameters:
        - name: fundid
          in: path
          description: The fund id
          required: true
          type: string
      responses:
        '200':
          description: An array of Append
          schema:
            type: object
            required:
              - ok
              - appends
            properties:
              ok:
                type: boolean
                default: true
              appends:
                $ref: '#/definitions/Appends'
  /funds/{fundid}/append/{tradingday}:
    put:
      summary: update or add an append
      tags:
        - Funds
      parameters:
        - name: fundid
          in: path
          description: The fund id
          required: true
          type: string
        - name: tradingday
          in: path
          description: The trading day
          required: true
          type: string
        - name: body
          in: body
          description: The new or updated append
          required: true
          schema:
            type: object
            required:
              - append
            properties:
              append:
                $ref: '#/definitions/AppendOne'
      responses:
        '200':
          description: The operation result response (true or false)
          schema:
            type: object
            required:
              - ok
            properties:
              ok:
                type: boolean
                default: true
    delete:
      summary: delete an append
      tags:
        - Funds
      parameters:
        - name: fundid
          in: path
          description: The fund id
          required: true
          type: string
        - name: tradingday
          in: path
          description: The trading day
          required: true
          type: string
      responses:
        '200':
          description: The operation result response (true or false)
          schema:
            type: object
            required:
              - ok
            properties:
              ok:
                type: boolean
                default: true
  /funds/{fundid}/redemptions:
    get:
      summary: Get an array of Redemption
      tags:
        - Funds
      parameters:
        - name: fundid
          in: path
          description: The fund id
          required: true
          type: string
      responses:
        '200':
          description: An array of Redemption
          schema:
            type: object
            required:
              - ok
              - redemptions
            properties:
              ok:
                type: boolean
                default: true
              redemptions:
                $ref: '#/definitions/Redemptions'
  /funds/{fundid}/redemption/{tradingday}:
    put:
      summary: update or add an redemption
      tags:
        - Funds
      parameters:
        - name: fundid
          in: path
          description: The fund id
          required: true
          type: string
        - name: tradingday
          in: path
          description: The trading day
          required: true
          type: string
        - name: body
          in: body
          description: The new or updated redemption
          required: true
          schema:
            type: object
            required:
              - redemption
            properties:
              redemption:
                $ref: '#/definitions/RedemptionOne'
      responses:
        '200':
          description: The operation result response (true or false)
          schema:
            type: object
            required:
              - ok
            properties:
              ok:
                type: boolean
                default: true
    delete:
      summary: delete an redemption
      tags:
        - Funds
      parameters:
        - name: fundid
          in: path
          description: The fund id
          required: true
          type: string
        - name: tradingday
          in: path
          description: The trading day
          required: true
          type: string
      responses:
        '200':
          description: The operation result response (true or false)
          schema:
            type: object
            required:
              - ok
            properties:
              ok:
                type: boolean
                default: true
  /funds/{fundid}/dividends:
    get:
      summary: Get an array of Dividend
      tags:
        - Funds
      parameters:
        - name: fundid
          in: path
          description: The fund id
          required: true
          type: string
      responses:
        '200':
          description: An array of Dividend
          schema:
            type: object
            required:
              - ok
              - dividends
            properties:
              ok:
                type: boolean
                default: true
              dividends:
                $ref: '#/definitions/Dividends'
  /funds/{fundid}/dividend/{tradingday}:
    put:
      summary: update or add a Dividend
      tags:
        - Funds
      parameters:
        - name: fundid
          in: path
          description: The fund id
          required: true
          type: string
        - name: tradingday
          in: path
          description: The trading day
          required: true
          type: string
        - name: body
          in: body
          description: The new or updated Dividend
          required: true
          schema:
            type: object
            required:
              - dividend
            properties:
              dividend:
                $ref: '#/definitions/DividendOne'
      responses:
        '200':
          description: The operation result response (true or false)
          schema:
            type: object
            required:
              - ok
            properties:
              ok:
                type: boolean
                default: true
    delete:
      summary: delete an dividend
      tags:
        - Funds
      parameters:
        - name: fundid
          in: path
          description: The fund id
          required: true
          type: string
        - name: tradingday
          in: path
          description: The trading day
          required: true
          type: string
      responses:
        '200':
          description: The operation result response (true or false)
          schema:
            type: object
            required:
              - ok
            properties:
              ok:
                type: boolean
                default: true
  /funds/{fundid}/costOuts:
    get:
      summary: Get an array of CostOut
      tags:
        - Funds
      parameters:
        - name: fundid
          in: path
          description: The fund id
          required: true
          type: string
      responses:
        '200':
          description: An array of CostOut
          schema:
            type: object
            required:
              - ok
              - costOuts
            properties:
              ok:
                type: boolean
                default: true
              costOuts:
                $ref: '#/definitions/CostOuts'
  /funds/{fundid}/fixedCost/{tradingday}:
    put:
      summary: update or add a fixed cost
      tags:
        - Funds
      parameters:
        - name: fundid
          in: path
          description: The fund id
          required: true
          type: string
        - name: tradingday
          in: path
          description: The trading day
          required: true
          type: string
        - name: body
          in: body
          description: The new or updated fixed cost
          required: true
          schema:
            type: object
            required:
              - fixedcost
            properties:
              fixedcost:
                $ref: '#/definitions/FixedCostOne'
      responses:
        '200':
          description: The operation result response (true or false)
          schema:
            type: object
            required:
              - ok
            properties:
              ok:
                type: boolean
                default: true
    delete:
      summary: delete a fixedCost
      tags:
        - Funds
      parameters:
        - name: fundid
          in: path
          description: The fund id
          required: true
          type: string
        - name: tradingday
          in: path
          description: The trading day
          required: true
          type: string
      responses:
        '200':
          description: The operation result response (true or false)
          schema:
            type: object
            required:
              - ok
            properties:
              ok:
                type: boolean
                default: true
  /funds/{fundid}/hostingAccounts:
    get:
      summary: Get an array of HostingAccount
      tags:
        - Funds
      parameters:
        - name: fundid
          in: path
          description: The fund id
          required: true
          type: string
      responses:
        '200':
          description: An array of HostingAccount
          schema:
            type: object
            required:
              - ok
              - hostingAccounts
            properties:
              ok:
                type: boolean
                default: true
              hostingAccounts:
                $ref: '#/definitions/HostingAccounts'
  /funds/{fundid}/hostingAccount/{tradingday}:
    put:
      summary: update or add a HostingAccount
      tags:
        - Funds
      parameters:
        - name: fundid
          in: path
          description: The fund id
          required: true
          type: string
        - name: tradingday
          in: path
          description: The trading day
          required: true
          type: string
        - name: body
          in: body
          description: The new or updated HostingAccount
          required: true
          schema:
            type: object
            required:
              - hostingaccount
            properties:
              hostingaccount:
                $ref: '#/definitions/HostingAccountOne'
      responses:
        '200':
          description: The operation result response (true or false)
          schema:
            type: object
            required:
              - ok
            properties:
              ok:
                type: boolean
                default: true
    delete:
      summary: delete a HostingAccount
      tags:
        - Funds
      parameters:
        - name: fundid
          in: path
          description: The fund id
          required: true
          type: string
        - name: tradingday
          in: path
          description: The trading day
          required: true
          type: string
      responses:
        '200':
          description: The operation result response (true or false)
          schema:
            type: object
            required:
              - ok
            properties:
              ok:
                type: boolean
                default: true
  /funds/{fundid}/stockAccounts:
    get:
      summary: Get an array of StockAccounts
      tags:
        - Funds
      parameters:
        - name: fundid
          in: path
          description: The fund id
          required: true
          type: string
      responses:
        '200':
          description: An array of StockAccounts
          schema:
            type: object
            required:
              - ok
              - stockAccounts
            properties:
              ok:
                type: boolean
                default: true
              stockAccounts:
                $ref: '#/definitions/StockAccounts'
  /funds/{fundid}/stockAccount/{tradingday}:
    put:
      summary: update or add a StockAccount
      tags:
        - Funds
      parameters:
        - name: fundid
          in: path
          description: The fund id
          required: true
          type: string
        - name: tradingday
          in: path
          description: The trading day
          required: true
          type: string
        - name: body
          in: body
          description: The new or updated StockAccount
          required: true
          schema:
            type: object
            required:
              - stockaccount
            properties:
              stockaccount:
                $ref: '#/definitions/StockAccountOne'
      responses:
        '200':
          description: The operation result response (true or false)
          schema:
            type: object
            required:
              - ok
            properties:
              ok:
                type: boolean
                default: true
    delete:
      summary: delete a StockAccount
      tags:
        - Funds
      parameters:
        - name: fundid
          in: path
          description: The fund id
          required: true
          type: string
        - name: tradingday
          in: path
          description: The trading day
          required: true
          type: string
      responses:
        '200':
          description: The operation result response (true or false)
          schema:
            type: object
            required:
              - ok
            properties:
              ok:
                type: boolean
                default: true
  /funds/{fundid}/bondAccounts:
    get:
      summary: Get an array of BondAccounts
      tags:
        - Funds
      parameters:
        - name: fundid
          in: path
          description: The fund id
          required: true
          type: string
      responses:
        '200':
          description: An array of BondAccounts
          schema:
            type: object
            required:
              - ok
              - bondAccounts
            properties:
              ok:
                type: boolean
                default: true
              bondAccounts:
                $ref: '#/definitions/BondAccounts'
  /funds/{fundid}/bondAccount/{tradingday}:
    put:
      summary: update or add a BondAccount
      tags:
        - Funds
      parameters:
        - name: fundid
          in: path
          description: The fund id
          required: true
          type: string
        - name: tradingday
          in: path
          description: The trading day
          required: true
          type: string
        - name: body
          in: body
          description: The new or updated BondAccount
          required: true
          schema:
            type: object
            required:
              - bondaccount
            properties:
              bondaccount:
                $ref: '#/definitions/BondAccountOne'
      responses:
        '200':
          description: The operation result response (true or false)
          schema:
            type: object
            required:
              - ok
            properties:
              ok:
                type: boolean
                default: true
    delete:
      summary: delete a BondAccount
      tags:
        - Funds
      parameters:
        - name: fundid
          in: path
          description: The fund id
          required: true
          type: string
        - name: tradingday
          in: path
          description: The trading day
          required: true
          type: string
      responses:
        '200':
          description: The operation result response (true or false)
          schema:
            type: object
            required:
              - ok
            properties:
              ok:
                type: boolean
                default: true
  /funds/{fundid}/dynamicEquity:
    get:
      summary: Get the fund dynamic equity value
      tags:
        - Funds
      parameters:
        - name: fundid
          in: path
          description: The fund id
          required: true
          type: string
      responses:
        '200':
          description: The dynamic equity value
          schema:
            type: object
            required:
              - ok
              - dynamicEquity
            properties:
              ok:
                type: boolean
                default: true
              dynamicEquity:
                type: number
                example: 11259302.8
                description: 动态净值
  /funds/{fundid}/tradingdays:
    get:
      summary: Get the fund tradingdays
      tags:
        - Funds
      parameters:
        - name: fundid
          in: path
          description: The fund id
          required: true
          type: string
        - name: tradingdayCount
          in: query
          description: The number of tradingdays
          type: number
          default: 2
      responses:
        '200':
          description: The Tradingdays
          schema:
            type: object
            required:
              - ok
              - tradingdays
            properties:
              ok:
                type: boolean
                default: true
              tradingdays:
                type: array
                example: ["20160627", "20160628"]
                items:
                  type: string
  /funds/{fundid}/positionLevels:
    get:
      summary: Get the fund positionLevels
      tags:
        - Funds
      parameters:
        - name: fundid
          in: path
          description: The fund id
          required: true
          type: string
      responses:
        '200':
          description: The PositionLevels
          schema:
            type: object
            required:
              - ok
              - positionLevels
            properties:
              ok:
                type: boolean
                default: true
              positionLevels:
                type: array
                example: []
                items:
                  type: string
  /account:
    get:
      summary: Get a fund account
      tags:
        - Accounts
      parameters:
        - name: fundid
          in: query
          description: The fund unique ID
          required: true
          type: string
      responses:
        '200':
          description: The account data
          schema:
            type: object
            required:
              - ok
              - account
            properties:
              ok:
                type: boolean
                default: true
              account:
                $ref: '#/definitions/Account'
  /orders:
    get:
      summary: Get all orders, with filter options
      tags:
        - Orders
      parameters:
        - name: fundid
          in: query
          description: The fund unique ID
          required: true
          type: string
        - name: beginDate
          in: query
          description: The begin date
          required: false
          type: string
        - name: endDate
          in: query
          description: The end date
          required: false
          type: string
        - name: product
          in: query
          description: The product symbol
          required: false
          type: string
        - name: instrumentid
          in: query
          description: The instrument symbol
          required: false
          type: string
      responses:
        '200':
          description: The orders array
          schema:
            type: object
            required:
              - ok
              - orders
            properties:
              ok:
                type: boolean
                default: true
              orders:
                type: array
                items:
                  $ref: '#/definitions/Order'
  /oneDayOrders:
    get:
      summary: Get all orders of a trading day
      tags:
        - Orders
      parameters:
        - name: fundid
          in: query
          description: The fund unique ID
          required: true
          type: string
        - name: tradingday
          in: query
          description: The trading day
          required: true
          type: string
      responses:
        '200':
          description: The orders array
          schema:
            type: object
            required:
              - ok
              - orders
            properties:
              ok:
                type: boolean
                default: true
              orders:
                type: array
                items:
                  $ref: '#/definitions/Order'
  /order:
    post:
      summary: Send an Order
      tags:
        - Orders
      parameters:
        - name: body
          in: body
          description: The new order to submit
          required: true
          schema:
            $ref: '#/definitions/OrderPost'
      responses:
        '200':
          description: The operation result response (true or false)
          schema:
            type: object
            required:
              - ok
            properties:
              ok:
                type: boolean
                default: true
    delete:
      summary: Delete a pending order
      tags:
        - Orders
      parameters:
        - name: body
          in: body
          description: The order to delete
          required: true
          schema:
            $ref: '#/definitions/OrderDelete'
      responses:
        '200':
          description: The operation result response (true or false)
          schema:
            type: object
            required:
              - ok
            properties:
              ok:
                type: boolean
                default: true
  /conditionalOrders:
    get:
      summary: Get all conditional orders
      tags:
        - Orders
      parameters:
        - name: fundid
          in: query
          description: The fund unique ID
          required: false
          type: string
      responses:
        '200':
          description: The orders array
          schema:
            type: object
            required:
              - ok
              - orders
            properties:
              ok:
                type: boolean
                default: true
              orders:
                type: array
                items:
                  $ref: '#/definitions/Order'
    post:
      summary: Send many Orders
      tags:
        - Orders
      parameters:
        - name: body
          in: body
          description: The new orders to submit
          required: true
          schema:
            type: array
            items:
              $ref: '#/definitions/OrderPost'
      responses:
        '200':
          description: The operation result response (true or false)
          schema:
            type: object
            required:
              - ok
            properties:
              ok:
                type: boolean
                default: true
  /conditionalOrder/{orderID}:
    delete:
      summary: Delete a conditional order
      tags:
        - Orders
      parameters:
        - name: orderID
          in: path
          description: The order key
          required: true
          type: string
      responses:
        '200':
          description: The operation result response (true or false)
          schema:
            type: object
            required:
              - ok
            properties:
              ok:
                type: boolean
                default: true
  /trades:
    get:
      summary: Get the trades of the current tradingday
      tags:
        - Trades
      parameters:
        - name: fundid
          in: query
          description: The fund unique ID
          required: true
          type: string
        - name: tradingday
          in: query
          description: The trading day
          required: true
          type: string
      responses:
        '200':
          description: The trades data
          schema:
            type: object
            required:
              - ok
              - trades
            properties:
              ok:
                type: boolean
                default: true
              trades:
                type: array
                items:
                  $ref: '#/definitions/Trade'
  /positions:
    get:
      summary: Get positions
      tags:
        - Positions
      parameters:
        - name: fundid
          in: query
          description: The fund unique ID
          required: true
          type: string
        - name: startDate
          in: query
          description: The startDate
          type: string
          default: 0
        - name: endDate
          in: query
          description: The endDate
          type: string
          default: 99999999
      responses:
        '200':
          description: The positions data
          schema:
            type: object
            required:
              - ok
              - positions
            properties:
              ok:
                type: boolean
                default: true
              positions:
                type: array
                items:
                  $ref: '#/definitions/Position'
  /oneDayPositions:
    get:
      summary: Get one day positions
      tags:
        - Positions
      parameters:
        - name: fundid
          in: query
          description: The fund unique ID
          required: true
          type: string
        - name: tradingday
          in: query
          description: The tradingday
          required: true
          type: string
          default: 'current tradingday'
      responses:
        '200':
          description: The positions data
          schema:
            type: object
            required:
              - ok
              - positions
            properties:
              ok:
                type: boolean
                default: true
              tradingday:
                type: string
                example: '20160907'
              positions:
                type: array
                items:
                  $ref: '#/definitions/Position'
  /allFunds/allInstruments/mergedPositions:
    get:
      summary: Get the merged positions for all funds
      tags:
        - Positions
      parameters:
        - name: tradingday
          in: query
          description: The tradingday
          required: true
          type: string
      responses:
        '200':
          description: The positions data
          schema:
            type: object
            required:
              - ok
              - positions
            properties:
              ok:
                type: boolean
                default: true
              positions:
                type: array
                items:
                  $ref: '#/definitions/Position'
  /allFunds/oneInstrument/positions.byFund:
    get:
      summary: Get the positions for one instrument, by fund
      tags:
        - Positions
      parameters:
        - name: tradingday
          in: query
          description: The tradingday
          required: true
          type: string
        - name: symbol
          in: query
          description: The instrument symbol
          required: true
          type: string
      responses:
        '200':
          description: The positions by fund
          schema:
            type: object
            required:
              - ok
              - positionsByFund
            properties:
              ok:
                type: boolean
                default: true
              positionsByFund:
                type: array
                items:
                  $ref: '#/definitions/PositionsByFund'
  /markets/futures/contracts:
    post:
      tags:
        - Markets
      summary: Get all futures contracts
      parameters:
        - name: body
          in: body
          description: This is the viewer password update object
          required: true
          schema:
            $ref: '#/definitions/reqFuturesContracts'
      responses:
        '200':
          description: The futures contracts data
          schema:
            type: object
            required:
              - ok
              - contracts
            properties:
              ok:
                type: boolean
                default: true
              contracts:
                type: array
                items:
                  $ref: '#/definitions/resFuturesContract'
  /markets/futures/products:
    get:
      tags:
        - Markets
      summary: Get all futures products with main instrumentid and openinterest
      responses:
        '200':
          description: The futures products data
          schema:
            type: object
            required:
              - ok
              - products
            properties:
              ok:
                type: boolean
                default: true
              products:
                type: array
                items:
                  $ref: '#/definitions/resFuturesProduct'
  /markets/futures/products.byExchange:
    get:
      tags:
        - Markets
      summary: Get all futures products organized by exchange
      responses:
        '200':
          description: The futures products data by exchange
          schema:
            type: object
            required:
              - ok
              - productsByExchange
            properties:
              ok:
                type: boolean
                default: true
              productsByExchange:
                type: array
                items:
                  $ref: '#/definitions/resFuturesProduct.ByExchange'
  /markets/futures/lastSnapshot:
    post:
      tags:
        - Markets
      summary: Get last Snapshot for a futures contract
      description: >
        Provide OHLC snapshot datas for futures contracts, and for a given contracts
      parameters:
        - name: body
          in: body
          description: This is the contract options
          required: true
          schema:
            $ref: '#/definitions/reqLastSnapshot'
      responses:
        '200':
          description: Quotes for a contract
          schema:
            type: object
            required:
              - ok
              - lastSnapshot
            properties:
              ok:
                type: boolean
                default: true
              lastSnapshot:
                type: array
                items:
                  $ref: '#/definitions/resSnapshot'
  /markets/futures/quotes:
    post:
      tags:
        - Markets
      summary: Get quotes for a futures contract
      description: >
        Provide OHLC candlestick datas for futures contracts, and for a given period
      parameters:
        - name: body
          in: body
          description: This is the contract quotes options
          required: true
          schema:
            $ref: '#/definitions/reqQuotes'
      responses:
        '200':
          description: Quotes for a contract
          schema:
            type: object
            required:
              - ok
              - quotes
            properties:
              ok:
                type: boolean
                default: true
              quotes:
                type: array
                items:
                  $ref: '#/definitions/bar'
  /markets/futures/indicators/bullBearTrend:
    post:
      tags:
        - Markets
      summary: Get trend indicators for futures indices
      description: >
        Create an indicator per day for bull (+1), bear (-1), and stagnant (0) markets
      parameters:
        - name: body
          in: body
          description: This is the indicator options
          required: true
          schema:
            $ref: '#/definitions/reqIndicator'
      responses:
        '200':
          description: Indicators for each symbol
          schema:
            type: object
            required:
              - ok
              - timeline
              - indicators
            properties:
              ok:
                type: boolean
                default: true
              timeline:
                type: array
                example: ["20160704", "20160630", "20160629", "20160628", "20160627", "20160624"]
                items:
                  type: string
              indicators:
                type: array
                items:
                  $ref: '#/definitions/resIndicator'
      security: []
  /markets/futures/indicators/contractDailyPriceSpeed:
    post:
      tags:
        - Markets
      summary: Get daily price difference for futures contracts
      description: >
        Get the price difference for each future contract (price speed) with uniform timeline
      parameters:
        - name: body
          in: body
          description: This is the indicator options
          required: true
          schema:
            $ref: '#/definitions/reqContractdailypricespeed'
      responses:
        '200':
          description: Indicators for each contract symbol
          schema:
            type: object
            required:
              - ok
              - timeline
              - indicators
            properties:
              ok:
                type: boolean
                default: true
              timeline:
                type: array
                example: ["20160624", "20160627", "20160628", "20160629", "20160630", "20160704"]
                items:
                  type: string
              indicators:
                type: array
                items:
                  $ref: '#/definitions/resContractdailypricespeed'
      security: []
  /codemap/catalogs:
    get:
      tags:
        - Codemap
      summary: Get catalogs
      parameters:
        - name: catalogs
          in: query
          description: filter for catalogs
          required: false
          type: array
          items:
            type: string
      responses:
        '200':
          description: Catalogs response
          schema:
            type: object
            required:
              - ok
              - catalogs
            properties:
              ok:
                type: boolean
                default: true
              catalogs:
                type: array
                items:
                  $ref: '#/definitions/Catalog'
  /codemap/catalog:
    post:
      tags:
        - Codemap
      summary: Add or Update a catalog
      parameters:
        - name: body
          in: body
          description: The catalog to create
          required: true
          schema:
            $ref: '#/definitions/Catalog'
      responses:
        '200':
          description: The operation result response (true or false)
          schema:
            type: object
            required:
              - ok
            properties:
              ok:
                type: boolean
                default: true
  /codemap/{catalogKey}:
    get:
      summary: Get a catalog by its key
      tags:
        - Codemap
      parameters:
        - name: catalogKey
          in: path
          description: The catalog key
          required: true
          type: string
      responses:
        '200':
          description: A catalog response
          schema:
            type: object
            required:
              - ok
              - catalog
            properties:
              ok:
                type: boolean
                default: true
              catalog:
                $ref: '#/definitions/Catalog'
    delete:
      summary: Delete a catalog
      tags:
        - Codemap
      parameters:
        - name: catalogKey
          in: path
          description: The catalog key
          required: true
          type: string
      responses:
        '200':
          description: The operation result response (true or false)
          schema:
            type: object
            required:
              - ok
            properties:
              ok:
                type: boolean
                default: true
  /codemap/{catalogKey}/items:
    get:
      tags:
        - Codemap
      summary: Get catalogs
      parameters:
        - name: catalogKey
          in: path
          description: The catalog key
          required: true
          type: string
      responses:
        '200':
          description: Items of the catalog
          schema:
            type: object
            required:
              - ok
              - items
            properties:
              ok:
                type: boolean
                default: true
              items:
                $ref: '#/definitions/CatalogItems'
  /codemap/{catalogKey}/item:
    post:
      tags:
        - Codemap
      summary: Add an item in a catalog
      parameters:
        - name: catalogKey
          in: path
          description: The catalog key
          required: true
          type: string
        - name: body
          in: body
          description: The item to create or update in the catalog
          required: true
          schema:
            $ref: '#/definitions/CatalogItem'
      responses:
        '200':
          description: The operation result response (true or false)
          schema:
            type: object
            required:
              - ok
            properties:
              ok:
                type: boolean
                default: true
    put:
      tags:
        - Codemap
      summary: Update an item in a catalog
      parameters:
        - name: catalogKey
          in: path
          description: The catalog key
          required: true
          type: string
        - name: body
          in: body
          description: The item to create or update in the catalog
          required: true
          schema:
            $ref: '#/definitions/CatalogItem'
      responses:
        '200':
          description: The operation result response (true or false)
          schema:
            type: object
            required:
              - ok
            properties:
              ok:
                type: boolean
                default: true
  /codemap/{catalogKey}/items/{itemKey}:
    get:
      summary: Get an item by its key
      tags:
        - Codemap
      parameters:
        - name: catalogKey
          in: path
          description: The catalog key
          required: true
          type: string
        - name: itemKey
          in: path
          description: The catalog item unique key
          required: true
          type: string
      responses:
        '200':
          description: The item response
          schema:
            type: object
            required:
              - ok
              - item
            properties:
              ok:
                type: boolean
                default: true
              item:
                $ref: '#/definitions/CatalogItem'
    delete:
      summary: Delete an item in a catalog
      tags:
        - Codemap
      parameters:
        - name: catalogKey
          in: path
          description: The catalog key
          required: true
          type: string
        - name: itemKey
          in: path
          description: The catalog item key
          required: true
          type: string
      responses:
        '200':
          description: The operation result response (true or false)
          schema:
            type: object
            required:
              - ok
            properties:
              ok:
                type: boolean
                default: true
  /configs/notifyConfigs:
    get:
      tags:
        - Configs
      summary: Get notifyConfigs
      responses:
        '200':
          description: NotifyConfigs response
          schema:
            type: object
            required:
              - ok
              - notifyConfigs
            properties:
              ok:
                type: boolean
                default: true
              notifyConfigs:
                type: array
                items:
                  $ref: '#/definitions/NotifyConfig'
  /configs/followingConfigs:
    get:
      tags:
        - Configs
      summary: Get followingConfigs
      responses:
        '200':
          description: FollowingConfigs response
          schema:
            type: object
            required:
              - ok
              - followingConfigs
            properties:
              ok:
                type: boolean
                default: true
              followingConfigs:
                type: array
                items:
                  $ref: '#/definitions/FollowingConfig'
    post:
      tags:
        - Configs
      summary: Add many configs to followingConfigs
      parameters:
        - name: followingConfigs
          in: body
          description: The followingConfigs to add
          required: true
          schema:
            type: array
            items:
              $ref: '#/definitions/FollowingConfig'
      responses:
        '200':
          description: The operation result response (true or false)
          schema:
            type: object
            required:
              - ok
            properties:
              ok:
                type: boolean
                default: true
  /configs/followingConfigs/{masterid}:
    put:
      tags:
        - Configs
      summary: Update an item in a catalog
      parameters:
        - name: masterid
          in: path
          description: The masterid of the config to update
          required: true
          type: string
        - name: followinfConfig
          in: body
          description: The update object
          required: true
          schema:
            $ref: '#/definitions/FollowingConfig'
      responses:
        '200':
          description: The operation result response (true or false)
          schema:
            type: object
            required:
              - ok
            properties:
              ok:
                type: boolean
                default: true
    delete:
      summary: Delete a followConfig
      tags:
        - Configs
      parameters:
        - name: masterid
          in: path
          description: The followConfig masterid
          required: true
          type: string
      responses:
        '200':
          description: The operation result response (true or false)
          schema:
            type: object
            required:
              - ok
            properties:
              ok:
                type: boolean
                default: true
  /acls:
    get:
      tags:
        - ACL
      summary: Get acls
      responses:
        '200':
          description: ACLs response
          schema:
            type: object
            required:
              - ok
              - acls
            properties:
              ok:
                type: boolean
                default: true
              acls:
                type: array
                items:
                  $ref: '#/definitions/ACL'
  /strategies:
    get:
      tags:
        - Strategy
      summary: Get strategies
      responses:
        '200':
          description: Strategies response
          schema:
            type: object
            required:
              - ok
              - strategies
            properties:
              ok:
                type: boolean
                default: true
              strategies:
                type: array
                items:
                  $ref: '#/definitions/Strategy'
  /productGroups:
    get:
      tags:
        - Product Group
      summary: Get productGroups
      responses:
        '200':
          description: productGroups response
          schema:
            type: object
            required:
              - ok
              - productGroups
            properties:
              ok:
                type: boolean
                default: true
              productGroups:
                type: array
                items:
                  $ref: '#/definitions/ProductGroup'
  /wechat/sendMessage:
    post:
      tags:
        - Wechat
      summary: Send a wechat message to 微信企业号
      parameters:
        - name: body
          in: body
          description: The message to send
          required: true
          schema:
            $ref: '#/definitions/wechatMessage'
      responses:
        '200':
          description: The operation result response (true or false)
          schema:
            type: object
            required:
              - ok
            properties:
              ok:
                type: boolean
                default: true
  /token:
    get:
      tags:
        - Socket.IO
      summary: Get the user token on wechat scan
      responses:
        '200':
          description: Token generated on wechat scan
          schema:
            type: object
            required:
              - ok
              - token
            properties:
              ok:
                type: boolean
                default: true
              token:
                type: string
                example: 'eyJ0eXAiOiJKV1QiCCJhbGciOiJIUzI1NiJ9.eyJfaWQiOiI1NzZhNDNjNjUyNmRjZWRjMDcwMjg4YjMiLCJ1c2VyaWQiOiJ2aWN0b3IiLCJpYXQiOjE0NjY1ODE5NTh9.dwkwBdAb7bdbW8ey4PhZ6Zodhyo_4SMbkoMub1N4eCY'
  /setToken:
    post:
      tags:
        - Socket.IO
      summary: Set the user token to the socket connection
      parameters:
        - name: body
          in: body
          description: This is the token
          schema:
            $ref: '#/definitions/Token'
      responses:
        '200':
          description: Quotes for a contract
          schema:
            type: object
            required:
              - ok
            properties:
              ok:
                type: boolean
                default: true
        '400':
          description: Invalid query
          schema:
            $ref: '#/definitions/Error400'
  /getQRCodeURL:
    post:
      tags:
        - Socket.IO
      summary: Get a short URL QR code for wechat scan
      parameters:
        - name: body
          in: body
          description: Send an empty object
          required: true
          schema:
            type: object
            example: {}
      responses:
        '200':
          description: QR Code
          schema:
            type: object
            required:
              - ok
              - qrCodeURL
            properties:
              ok:
                type: boolean
                default: true
              qrCodeURL:
                type: string
                example: http://w.url.cn/s/AsDdGZ5
      security: []
  /funds/subscribe:
    post:
      tags:
        - Funds.IO
      summary: Subscribe orders placement and execution of a fund
      parameters:
        - name: body
          in: body
          description: This is the orders subscribe request
          required: true
          schema:
            $ref: '#/definitions/SubscribeFundEvents'
      responses:
        '200':
          description: Response sent through callback function
          schema:
            type: object
            properties:
              ok:
                type: boolean
                default: true
  /funds/unsubscribe:
    post:
      tags:
        - Funds.IO
      summary: Unsubscribe orders placement and execution of a fund
      parameters:
        - name: body
          in: body
          description: This is the orders unsubscribe request
          required: true
          schema:
            $ref: '#/definitions/SubscribeFundEvents'
      responses:
        '200':
          description: Response sent through callback function
          schema:
            type: object
            properties:
              ok:
                type: boolean
                default: true
  /funds/order:
    get:
      tags:
        - Funds.IO
      summary: Receive an event for any order change
      responses:
        '200':
          description: The order placement
          schema:
            $ref: '#/definitions/Order'
  /funds/trade:
    get:
      tags:
        - Funds.IO
      summary: Receive the trade informations
      responses:
        '200':
          description: The trade
          schema:
            $ref: '#/definitions/Trade'
  /funds/account:
    get:
      tags:
        - Funds.IO
      summary: Receive the account on a trade
      responses:
        '200':
          description: The account
          schema:
            $ref: '#/definitions/Account'
  /funds/liveAccount:
    get:
      tags:
        - Funds.IO
      summary: Every 5s, Receive the live account with values based on live positions
      responses:
        '200':
          description: The live account
          schema:
            $ref: '#/definitions/Account'
  /funds/positions:
    get:
      tags:
        - Funds.IO
      summary: Receive the positions on a trade
      responses:
        '200':
          description: The positions
          schema:
            type: array
            items:
              $ref: '#/definitions/Position'
  /funds/livePositions:
    get:
      tags:
        - Funds.IO
      summary: Every 5s, Receive the live positions with updated values based on last marketData
      responses:
        '200':
          description: The positions
          schema:
            type: array
            items:
              $ref: '#/definitions/Position'
  /funds/combinedReport:
    get:
      tags:
        - Funds.IO
      summary: Every 5s, Receive a combined report of a fund key indicators
      responses:
        '200':
          description: The CombinedReport
          schema:
            $ref: '#/definitions/CombinedReport'
  /markets/subscribe:
    post:
      tags:
        - Markets.IO
      summary: Subscribe live ticker
      parameters:
        - name: body
          in: body
          description: This is the ticker subscribe request
          required: true
          schema:
            $ref: '#/definitions/SubscribeTicker'
      responses:
        '200':
          description: Response sent through callback function
          schema:
            type: object
            properties:
              ok:
                type: boolean
                default: true
        '400':
          description: Invalid query
          schema:
            $ref: '#/definitions/Error400'
  /markets/unsubscribe:
    post:
      tags:
        - Markets.IO
      summary: Unsubscribe live ticker
      parameters:
        - name: body
          in: body
          description: This is the ticker unsubscribe request
          required: true
          schema:
            $ref: '#/definitions/UnsubscribeTicker'
      responses:
        '200':
          description: Response sent through callback function
          schema:
            type: object
            properties:
              ok:
                type: boolean
                default: true
        '400':
          description: Invalid query
          schema:
            $ref: '#/definitions/Error400'
  /markets/tick:
    get:
      tags:
        - Markets.IO
      summary: Receive ticker object
      responses:
        '200':
          description: The ticker
          schema:
            $ref: '#/definitions/tick'
  /errors:
    get:
      summary: Error examples
      description: >
        Example of all the errors the API can produce.
      tags:
        - Errors
      responses:
        '400':
          description: Invalid query
          schema:
            $ref: '#/definitions/Error400'
        '401':
          description: Invalid password
          schema:
            $ref: '#/definitions/Error401'
        '403':
          description: Access forbidden
          schema:
            $ref: '#/definitions/Error403'
        '404':
          description: Missing something
          schema:
            $ref: '#/definitions/Error404'
        '405':
          description: The method is not allowed
          schema:
            $ref: '#/definitions/Error405'
        '500':
          description: Internal error occured
          schema:
            $ref: '#/definitions/Error500'
        '501':
          description: Method not implemented
          schema:
            $ref: '#/definitions/Error501'
securityDefinitions:
  jsonWebToken:
    type: apiKey
    name: Authorization
    in: header
definitions:
  Order:
    type: object
    required:
      - fundid
    properties:
      fundid:
        type: string
        example: "068074"
        description: "1296"
      frontid:
        type: string
        example: "1"
        description: 只有ctp用到
      sessionid:
        type: string
        example: "1066350050"
        description: 连接id 撤单的时候用到
      privateno:
        type: string
        example: "1094822442"
        description: ctp.OrderRef / st.private_no
      exchangeid:
        type: string
        example: "CZCE"
        description: 市场代码	ctp.ExchangID / st.MarketCode
      orderid:
        type: string
        example: "55332"
        description:	ctp.OrderSysID / st.order_no
      tradingday:
        type: string
        example: "20160909"
        description: the trading day
      brokerid:
        type: string
        example: "9999"
        description: 经纪
      requestid:
        type: string
        example: "1094822442"
        description: 请求id
      instrumentid:
        type: string
        example: "MA612"
        description: "IF1609"
      direction:
        type: string
        example: "L"
        description: 多空
      offsetflag:
        type: string
        example: "O"
        description: 开平标志
      hedgeflag:
        type: string
        example: "1"
        description: 套保标志
      price:
        type: string
        example: 2048
        description: 委托价格
      volume:
        type: number
        example: 1
        description: 委托数量
      ordertype:
        type: string
        example: "0"
        description: 委托类型
      orderstatus:
        type: string
        example: "a"
        description: 报单状态
      volumetraded:
        type: number
        example: 0
        description: 报单状态
      insertdatetime:
        type: string
        example: "20160909"
        description: description
      ordertime:
        type: string
        example: ""
        description: 委托时间  期货公司给交易所
      oerrno:
        type: number
        example: 0
        description: 下单 或者 撤单失败 返回码 下单失败返回-1   撤单失败返回-2  0表示成功
      oerrmsg:
        type: string
        example: "报单已提交"
        description: 错误信息
      updatetime:
        type: string
        description: 最后修改时间
  Trade:
    type: object
    required:
      - tradingday
    properties:
      tradingday:
        type: string
        example: "20160909"
        description: 交易日 ctp.TradingDay/系统维护
      fundid:
        type: string
        example: "068074"
        description: 基金标识，ctp.InvestorID/st.cell_id
      requestid:
        type: string
        example: ""
        description: 接口请求标识
      brokerid:
        type: string
        example: "9999"
        description: 期货经纪公司标识 ctp.BrokerID/st.cell_id
      orderid:
        type: string
        example: "55332"
        description: 委托报单编号 ctp.OrderSysID/st.order_no
      tradeid:
        type: string
        example: "29454"
        description: 成交编号 ctp.TradeID/st.trade_id
      exchangeid:
        type: string
        example: "SHFE"
        description: 交易所代码 ctp.ExchangeID/st.-1
      instrumentid:
        type: string
        example: "al1610"
        description: 合约代码 ctp.InstrumentID/st.sec_code
      direction:
        type: string
        example: "S"
        description: 买卖方向 ctp.Direction/st.bs ('L'买入 'S'卖出)
      offsetflag:
        type: string
        example: "O"
        description: 开平标志 ctp.OffsetFlag/st.offset_flag ('O'开仓 'C'平仓)
      hedgeflag:
        type: string
        example: "0"
        description: 投机套保标志 ctp.HedgeFlag/st.hedge_flag '0' 投机/非备兑 '1' 保值/备兑   '2' 套利
      price:
        type: number
        example: 12220
        description: 成交价格 ctp.Price/st.done_price
      volume:
        type: number
        example: 1
        description: 成交数量 ctp.Volume/st.done_vol
      tradedate:
        type: string
        example: "20160909"
        description: 成交时期yyyymmdd ctp.TradeDate/st.done_date
      tradetime:
        type: string
        example: "09:04:15"
        description: 成交时间hh24miss ctp.TradeTime/st.done_time
      updatedate:
        type: string
        example: "2016-09-09 09:03:29"
        description: 纪录最新更新时间 time(NULL)
  Account:
    type: object
    properties:
      tradingday:
        type: string
        example: "20160909"
        description: 交易日 ctp.TradingDay
      fundid:
        type: string
        example: "068074"
        description: 账户标识 ctp.AccountID/st.cell_id
      prebalance:
        type: number
        example: 948248.27
        description: 昨日余额 ctp.PreBalance/st.dthis_bal
      premargin:
        type: number
        example: 287418.1
        description: 上次占用的保证金 ctp.PreMargin/st.null
      requestid:
        type: string
        example: "1184011430"
        description: 接口请求标识
      balance:
        type: number
        example: 948248.27
        description: 期货结算准备金 ctp.Balance/st.deposite
      available:
        type: number
        example: 660830.17
        description: 可用资金  ctp.Available/st.available
      margin:
        type: number
        example: 287418.1
        description: 当前保证金总额 ctp.CurrMargin/st.margin
      incap:
        type: number
        example: 0
        description: 入金金额 ctp.Deposit/st.incap
      outcap:
        type: number
        example: 0
        description: 出金金额 ctp.Withdraw/st.outcap
      commission:
        type: number
        example: 0
        description: 开仓手续费
      closeprofit:
        type: number
        example: 0
        description: 盯日平仓盈亏合计
      positionprofit:
        type: number
        example: 0
        description: 盯日持仓盈亏合计
      updatedate:
        type: string
        example: "2016-09-08 18:40:11"
        description: 信息更新日期
  PositionsByFund:
    type: object
    properties:
      fundname:
        type: string
        example: "慧网大通2号"
      fundid:
        type: string
        example: "0292"
      tradingday:
        type: string
        example: "20161109"
      positions:
        type: array
        items:
          $ref: '#/definitions/Position'
  Position:
    type: object
    properties:
      tradingday:
        type: string
        example: "20160909"
        description: 交易日 ctp.TradingDay
      fundid:
        type: string
        example: "068074"
        description: 账户标识 ctp.InvestorID/st.cell_id
      requestid:
        type: string
        example: "1090330438"
        description: ctp接口请求标识
      instrumentid:
        type: string
        example: "IH1609"
        description: 合约代码 ctp.InstrumentID/st.sec_code
      direction:
        type: string
        example: ""
        description: 多空方向 ctp.PosiDirection/st.bs
      hedgeflag:
        type: string
        example: "0"
        description: 投机套保标志 ctp.HedgeFlag/st.hedge_flag
      preposition:
        type: number
        example: 1
        description: 昨日总持仓 ctp.YdPosition/st.pre_total_vol
      preholdposition:
        type: number
        example: 0
        description: 昨日余仓
      position:
        type: number
        example: 1
        description: 今日总持仓 ctp.Position/st.avail_vol
      openvolume:
        type: number
        example: 0
        description: 今开仓量 ctp.OpenVolume/st.buy_vol
      closevolume:
        type: number
        example: 0
        description: 今平仓量 ctp.CloseVolume/st.sell_vol
      openamount:
        type: number
        example: 0
        description: 今开仓金额 ctp.OpenAmount/st.buy_done_amt
      closeamount:
        type: number
        example: 0
        description: 今平仓金额 ctp.CloseAmount/st.sell_done_amt
      opencost:
        type: number
        example: 0
        description: 今开仓均价 (ctp.OpenAmount/ctp.OpenVolume) /
      positioncost:
        type: number
        example: 669060
        description: 持仓成本 ctp.PositionCost/st.total_cost
      premargin:
        type: number
        example: 0
        description: 昨天占用的保证金 ctp.PreMargin/st.yd_usemargin
      margin:
        type: number
        example: 267624
        description: 当前占用的保证金 ctp.UseMargin/st.total_margin
      commission:
        type: number
        example: 0
        description: 手续费包含开平仓
      closeprofit:
        type: number
        example: 0
        description: 盯日平仓盈亏
      positionprofit:
        type: number
        example: 0
        description: 盯日持仓盈亏
      totalprofile:
        type: number
        example: 0
        description: 累计实现盈亏
      positiondate:
        type: string
        example: "1"
        description: 今仓昨仓 '1' '2' 默认今仓1
      updatedate:
        type: string
        example: "2016-09-09 09:03:30"
        description: 最新更新时间
  OrderPost:
    type: object
    required:
      - fundid
      - exchangeid
      - instrumentid
      - direction
      - offsetflag
      - price
      - volume
      - signalname
      - strategyid
    properties:
      fundid:
        type: string
        example: "1239"
        description: 基金ID
      exchangeid:
        type: string
        example: "SHFE"
        enum: ["SHFE", "CZCE", "DCE", "CFFEX"]
        description: 交易所
      instrumentid:
        type: string
        example: "IF1609"
        description: "合约ID"
      direction:
        type: string
        example: "buy"
        enum: ["buy", "sell"]
        description: 多空方向 (buy:买入, sell:卖出)
      offsetflag:
        type: string
        example: "open"
        enum: ["open", "close"]
        description: (open:开仓, close:平仓)
      price:
        type: number
        example: 1394
        description: 委托价格
      volume:
        type: number
        example: 3
        description: 委托数量
      brokerid:
        type: string
        example: "9999"
        description: 经纪ID
      ordertype:
        type: string
        example: "limitPrice"
        enum: [ "limitPrice", "marketPrice", "bestPrice", "lastPrice", "askPrice1", "bidPrice1" ]
        default: "limitPrice"
        description: 订单类型	(limitPrice:限价, marketPrice:市价,  bestPrice:对手方最优, lastPrice:最新价, askPrice1:卖一价, bidPrice1:买一价)
      hedgeflag:
        type: string
        example: "0"
        enum: ["0", "1", "2"]
        description: 套保 (0:投机/非备兑, 1:保值/备兑, 2:套利)
        default: "0"
      donetype:
        type: string
        example: "0"
        enum: ["0", "1", "2", "3"]
        default: "0"
        description: 成交类型 (0:GFD当日有效, 1:FOK限价全成或全撤, 2:FAK限价立即成交剩余撤销, 3:IOC立即成交剩余自动撤销)
      signalname:
        type: string
        example: "atr > 1.8"
        default: ""
        description: 策略型号名
      strategyid:
        type: string
        example: "ATR Strategy"
        default: ""
        description: 策略标识
  OrderDelete:
    type: object
    required:
      - fundid
      - sessionid
      - orderid
      - instrumentid
      - privateno
    properties:
      fundid:
        type: string
        example: "068074"
      sessionid:
        type: string
        example: "129392"
      orderid:
        type: string
        example: "260343"
      instrumentid:
        type: string
        example: "IF1609"
      privateno:
        type: string
        example: "3"
  Token:
    type: object
    required:
      - token
    properties:
      token:
        type: string
        example: 'eyJ0eXAiOiJKV1QiCCJhbGciOiJIUzI1NiJ9.eyJfaWQiOiI1NzZhNDNjNjUyNmRjZWRjMDcwMjg4YjMiLCJ1c2VyaWQiOiJ2aWN0b3IiLCJpYXQiOjE0NjY1ODE5NTh9.dwkwBdAb7bdbW8ey4PhZ6Zodhyo_4SMbkoMub1N4eCY'
  Users:
    type: array
    items:
      $ref: '#/definitions/resProfile'
  resProfile:
    type: object
    required:
      - userid
      - name
      - department
      - email
      - avatar
      - hasPassword
    properties:
      userid:
        type: string
        description: User userid from qiyehao
        example: victor
      name:
        type: string
        description: Name from qiyehao
        example: 鹏威
      department:
        type: array
        items:
          $ref: '#/definitions/Department'
      email:
        type: string
        description: Email from qiyehao
        example: tristan.wwl@gmail.com
      avatar:
        type: string
        description: Avatar url from qiyehao
        example: http://shp.qpic.cn/bizmp/FUia0rytBsibJzaO5yxCyicbYWD2LvlGibDnH9o8UEXpQsqMaKUPmtNGtw
      hasPassword:
        type: boolean
        description: 'If user has a password, value is true, otherwise false'
        example: true
  Department:
    type: object
    properties:
      id:
        type: number
        example: 2
      name:
        type: string
        example: 系统部
      parentid:
        type: number
        example: 1
      order:
        type: number
        example: 200
  FundsShort:
    type: array
    items:
      $ref: '#/definitions/FundShort'
  FundShort:
    type: object
    properties:
      fundid:
        type: string
        example: "800002"
      fundname:
        type: string
        example: 慧网趋势1号
      issuedate:
        type: string
        example: "2014-09-16T16:00:00.000Z"
  Fund:
    type: object
    required:
      - fundid
    properties:
      fundid:
        type: string
        example: "800002"
        description: "Each fund has a unique fundid"
      fundname:
        type: string
        example: 慧网趋势1号
      manager:
        type: string
        example: 南华
      consultant:
        type: string
        example: 慧网基金
      hoster:
        type: string
        example: "null"
      transferbank:
        type: string
        example: "null"
      fundcode:
        type: string
        example: "06690263"
      fundmanager:
        type: string
        example: 王祥
      fundtype:
        type: string
        example: structured
      equitybeginning:
        type: number
        example: 30000000
      equityprior:
        type: number
        example: 20000000
      equityinferior:
        type: number
        example: 10000000
      issuedate:
        type: string
        example: "2014-09-16T16:00:00.000Z"
      period:
        type: object
        properties:
          type:
            type: string
            example: month
          value:
            type: number
            example: 12
      state:
        type: string
        example: clearout
      buysell:
        type: object
        properties:
          closeperiod:
            type: object
            properties:
              type:
                type: string
                example: month
              value:
                type: number
                example: 3
          openday:
            type: object
            properties:
              type:
                type: string
                example: month
              value:
                type: number
                example: 3
          threshold:
            type: number
            example: 1000000
          buyfee:
            type: object
            properties:
              type:
                type: string
                example: percent
              value:
                type: number
                example: 0
              min:
                type: number
                example: 0
          sellfee:
            type: object
            properties:
              type:
                type: string
                example: percent
              value:
                type: number
                example: 0
              min:
                type: number
                example: 0
      fixedcost:
        type: object
        properties:
          priorfee:
            type: object
            properties:
              type:
                type: string
                example: percent
              value:
                type: number
                example: 0
              min:
                type: number
                example: 0
          managefee:
            type: object
            properties:
              type:
                type: string
                example: fixed
              value:
                type: number
                example: 0
              min:
                type: number
                example: 0
          hostfee:
            type: object
            properties:
              type:
                type: string
                example: percent
              value:
                type: number
                example: 0
              min:
                type: number
                example: 0
          outsourcefee:
            type: object
            properties:
              type:
                type: string
                example: percent
              value:
                type: number
                example: 0
              min:
                type: number
                example: 0
      reward:
        type: object
        properties:
          manager:
            type: object
            properties:
              type:
                type: string
                example: percent
              value:
                type: number
                example: 0
              min:
                type: number
                example: 0
          consultant:
            type: object
            properties:
              type:
                type: string
                example: percent
              value:
                type: number
                example: 0
              min:
                type: number
                example: 0
      trading:
        type: object
        properties:
          api:
            type: string
            example: ctp
          brokerid:
            type: string
            example: "null"
          brokername:
            type: string
            example: 南华
          account:
            type: string
            example: "null"
          password:
            type: string
            example: "12345"
          server:
            type: array
            example: ["null"]
            items:
              type: string
          cellid:
            type: string
            example: "800002"
      service:
        type: object
        properties:
          ip:
            type: string
            example: "127.0.0.1"
          port:
            type: string
            example: "0000"
          key:
            type: string
            example: HWQS1
  ReturnReport:
    type: object
    required:
      - fundid
      - beginvalue
      - endvalue
      - returns
    properties:
      fundid:
        type: string
        example: 80000528
      beginvalue:
        type: number
        example: 1.2106
      endvalue:
        type: number
        example: 1.2124
      returns:
        type: number
        example: 0.0018
  Total:
    type: object
    required:
      - fixedincome
    properties:
      fixedincome:
        type: number
        example: 30000000
      fixedincomereturns:
        type: number
        example: 0
      append:
        type: number
        example: 0
      appendshare:
        type: number
        example: 0
      redemption:
        type: number
        example: 0
      dividend:
        type: number
        example: 0
      dividendnetvalue:
        type: number
        example: 0
      cost:
        type: number
        example: 219241.39
      priority:
        type: number
        example: 197698.63
      management:
        type: number
        example: 17952.29
      outsource:
        type: number
        example: 0
      hosting:
        type: number
        example: 3590.47
      costout:
        type: number
        example: 0
  NetValues:
    type: array
    items:
      $ref: '#/definitions/NetValue'
  NetValue:
    type: object
    required:
      - fundid
    properties:
      fundid:
        type: string
        example: 1285
      tradingday:
        type: string
        example: 20160115
      equity:
        type: object
        properties:
          last:
            type: number
            example: 28804043.61
          open:
            type: number
            example: 28804043.61
          high:
            type: number
            example: 28804043.61
          low:
            type: number
            example: 28804043.61
          close:
            type: number
            example: "null"
          settle:
            type: number
            example: "null"
      netvalue:
        type: object
        properties:
          last:
            type: number
            example: 0.9764
          open:
            type: number
            example: 0.9764
          high:
            type: number
            example: 0.9764
          low:
            type: number
            example: 0.9764
          close:
            type: number
            example: "null"
          settle:
            type: number
            example: "null"
          dividend:
            type: number
            example: 0
          inferior:
            type: number
            example: 0.9292
      updatedate:
        type: string
        example: "2016-01-15T12:51:01.000Z"
  FixedIncomes:
    type: array
    items:
      $ref: '#/definitions/FixedIncome'
  FixedIncome:
    type: object
    properties:
      tradingday:
        type: string
        example: "20160113"
      fixedincome:
        $ref: '#/definitions/FixedIncomeOne'
  FixedIncomeOne:
      type: object
      properties:
        amount:
          type: number
          example: 30000000
  Appends:
    type: array
    items:
      $ref: '#/definitions/Append'
  Append:
    type: object
    properties:
      tradingday:
        type: string
        example: "20160308"
      append:
        $ref: '#/definitions/AppendOne'
  AppendOne:
    type: object
    properties:
      amount:
        type: number
        example: 5000000
      netvalue:
        type: number
        example: 1.2469
      share:
        type: number
        example: 4009944.66
  Redemptions:
    type: array
    items:
      $ref: '#/definitions/Redemption'
  Redemption:
    type: object
    properties:
      tradingday:
        type: string
        example: "20160616"
      redemption:
        $ref: '#/definitions/RedemptionOne'
  RedemptionOne:
    type: object
    properties:
      amount:
        type: number
        example: 80000
      netvalue:
        type: number
        example: 0
      share:
        type: number
        example: 0
      actual:
        type: number
        example: 80000
  Dividends:
    type: array
    items:
      $ref: '#/definitions/Dividend'
  Dividend:
    type: object
    properties:
      tradingday:
        type: string
        example: "20140905"
      dividend:
        $ref: '#/definitions/DividendOne'
  DividendOne:
    type: object
    properties:
      amount:
        type: number
        example: 200000
      netvalue:
        type: number
        example: 0
  CostOuts:
    type: array
    items:
      $ref: '#/definitions/CostOut'
  CostOut:
    type: object
    properties:
        tradingday:
          type: number
          example: 20160119
        fixedcost:
          $ref: '#/definitions/FixedCostOne'
  FixedCostOne:
    type: object
    properties:
      total:
        type: number
        example: 259046.54
      priority:
        type: number
        example: 233643.84
      management:
        type: number
        example: 21168.91
      outsource:
        type: number
        example: 0
      hosting:
        type: number
        example: 4233.79
      actual:
        type: number
        example: 79942.03
      remark:
        type: string
        example: 期货公司实际扣除明细备注
  HostingAccounts:
    type: array
    items:
      $ref: '#/definitions/HostingAccount'
  HostingAccountOne:
    type: object
    required:
      - amount
      - remark
    properties:
      amount:
        type: number
        example: 1830392.34
      remark:
        type: string
        example: 托管户变动描述
  HostingAccount:
    type: object
    required:
      - tradingday
      - hostingaccount
    properties:
      tradingday:
        type: number
        example: 20160119
      hostingaccount:
        $ref: '#/definitions/HostingAccountOne'
  StockAccounts:
    type: array
    items:
      $ref: '#/definitions/StockAccount'
  StockAccountOne:
    type: object
    required:
      - amount
      - remark
    properties:
      amount:
        type: number
        example: 1830392.34
      remark:
        type: string
        example: 股票账户金额
  StockAccount:
    type: object
    required:
      - tradingday
      - stockaccount
    properties:
      tradingday:
        type: number
        example: 20160119
      stockaccount:
        $ref: '#/definitions/StockAccountOne'
  BondAccounts:
    type: array
    items:
      $ref: '#/definitions/BondAccount'
  BondAccountOne:
    type: object
    required:
      - amount
      - remark
    properties:
      amount:
        type: number
        example: 1830392.34
      remark:
        type: string
        example: 股票账户金额
  BondAccount:
    type: object
    required:
      - tradingday
      - bondaccount
    properties:
      tradingday:
        type: number
        example: 20160119
      bondaccount:
        $ref: '#/definitions/BondAccountOne'
  putPassword:
    type: object
    required:
      - newPassword
    properties:
      newPassword:
        type: string
      password:
        type: string
        format: password
  authPassword:
    type: object
    required:
      - userid
      - password
    properties:
      userid:
        type: string
      password:
        type: string
        format: password
  resFuturesProduct:
    type: object
    required:
      - exchangeid
      - productname
      - productid
      - mainins
      - maininsopeninterest
    properties:
      exchangeid:
        type: string
        example: "SHFE"
      productname:
        type: string
        example: "热轧卷板"
      productid:
        type: string
        example: "hc"
      mainins:
        type: string
        example: "hc1610"
      maininsopeninterest:
        type: number
        example: 2172398
  resFuturesProduct.ByExchange:
    type: object
    required:
      - exchangeid
      - products
    properties:
      exchangeid:
        type: string
        example: "SHFE"
      products:
        type: array
        items:
          $ref: '#/definitions/resFuturesProduct'
  reqLastSnapshot:
    type: object
    required:
      - symbols
    properties:
      symbols:
        type: array
        example: ["IC1608","a1701"]
        items:
          type: string
  resSnapshot:
    type: object
    required:
      - maxtradingday
      - instrument
      - tradingday
      - average
      - close
      - high
      - low
      - open
      - openinterest
      - preclose
      - preoopeninterest
      - presettlement
      - settlement
      - turnover
      - volume
      - upperlimit
      - lowerlimit
    properties:
      maxtradingday:
        type: string
        example: "20160704"
      instrument:
        type: string
        example: "IF1608"
      tradingday:
        type: string
        example: "20160704"
      average:
        type: number
        example: 936367.191283293
      close:
        type: number
        example: 3136
      high:
        type: number
        example: 3200
      low:
        type: number
        example: 3058.4
      open:
        type: number
        example: 3058.4
      openinterest:
        type: number
        example: 2217
      preclose:
        type: number
        example: 3062.4
      preoopeninterest:
        type: number
        example: 1880
      presettlement:
        type: number
        example: 3074.2
      settlement:
        type: number
        example: 0
      turnover:
        type: number
        example: 773439300
      volume:
        type: number
        example: 826
      upperlimit:
        type: number
        example:  7774.8,
      lowerlimit:
        type: number
        example: 5183.2
  reqFuturesContracts:
    type: object
    properties:
      symbols:
        type: array
        example: ["IH1609", "IF1610"]
        items:
          type: string
      products:
        type: array
        example: ["cu"]
        items:
          type: string
      exchanges:
        type: array
        example: ["SHFE"]
        items:
          type: string
      ranks:
        type: array
        example: [1, 2]
        items:
          type: number
      productClasses:
        type: array
        example: ["1", "8", "9"]
        items:
          type: string
      isTrading:
        type: array
        example: [1, 0]
        items:
          type: number
  resFuturesContract:
    type: object
    required:
      - instrumentid
      - exchangeid
      - istrading
      - productid
      - productclass
    properties:
      instrumentid:
        type: string
        example: "fu1604"
      exchangeid:
        type: string
        example: "SHFE"
      instrumentname:
        type: string
        example: "燃料油1604"
      istrading:
        type: number
        example: 1
      productid:
        type: string
        example: "fu"
      productclass:
        type: string
        example: "1"
      rank:
        type: number
        example: 1
        enum: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
  reqQuotes:
    type: object
    required:
      - symbol
      - resolution
      - startDate
      - endDate
    properties:
      symbol:
        type: string
        example: "IF1606"
      resolution:
        type: string
        example: "minute"
        enum: ["minute", "day"]
      startDate:
        type: string
        example: "20150401"
      endDate:
        type: string
        example: "20160401"
  SubscribeTicker:
    type: object
    required:
      - type
      - symbol
      - resolution
    properties:
      type:
        type: string
        example: "futures"
      symbol:
        type: string
        example: "IF1606"
      resolution:
        type: string
        example: "tick"
  UnsubscribeTicker:
    type: object
    required:
      - type
      - symbol
      - resolution
    properties:
      type:
        type: string
        example: "futures"
      symbol:
        type: string
        example: "all"
        description: if "all", will ignore the resolution and unsubscribe from all resolutions of all symbols previously subscribed to
      resolution:
        type: string
        example: "tick"
  SubscribeFundEvents:
    type: object
    required:
      - fundid
      - eventName
    properties:
      fundid:
        type: string
        example: "068074"
      eventName:
        type: string
        enum: ["basics", "combinedReport", "liveAccount", "livePositions"]
        example: "combinedReport"
  CombinedReport:
    type: object
    properties:
      netValueAndEquityReport:
        $ref: '#/definitions/NetValueAndEquityReport'
      positionsLevelReport:
        $ref: '#/definitions/PositionsLevelReport'
      positionsLeverageReport:
        $ref: '#/definitions/PositionsLeverageReport'
      allPeriodsDrawdownReport:
        $ref: '#/definitions/AllPeriodsDrawdownReport'
  NetValueAndEquityReport:
    type: object
    properties:
      fundid:
        type: string
        example: "123456"
      tradingday:
        type: string
        example: "20161109"
      equity:
        $ref: '#/definitions/EquityBar'
      netvalue:
        $ref: '#/definitions/NetValueBar'
      updatedate:
        type: string
  EquityBar:
    type: object
    properties:
      last:
        type: number
      open:
        type: number
      high:
        type: number
      low:
        type: number
      close:
        type: number
      settle:
        type: number
  NetValueBar:
    type: object
    properties:
      last:
        type: number
      open:
        type: number
      high:
        type: number
      low:
        type: number
      close:
        type: number
      settle:
        type: number
      dividend:
        type: number
      inferior:
        type: number
  PositionsLevelReport:
    type: object
    properties:
      total:
        type: number
      long:
        type: number
      short:
        type: number
      net:
        type: number
  PositionsLeverageReport:
    type: object
    properties:
      total:
        type: number
  DrawdownReport:
    type: object
    properties:
      peak:
        type: number
      maxDrawdown:
        type: number
      currentDrawdown:
        type: number
  AllPeriodsDrawdownReport:
    type: object
    properties:
      history:
        $ref: '#/definitions/DrawdownReport'
      today:
        $ref: '#/definitions/DrawdownReport'
  bar:
    type: object
    required:
      - timestamp
      - open
      - high
      - low
      - close
      - volume
      - tradingday
    properties:
      timestamp:
        type: number
        example: 1464182400000
      open:
        type: number
        example: 1560
      high:
        type: number
        example: 1575
      low:
        type: number
        example: 1554
      close:
        type: number
        example: 1556
      volume:
        type: number
        example: 234
      tradingday:
        type: string
        example: "IF1606"
  tick:
    type: object
    properties:
      askPrice1:
        type: number
        example: 3172
      askVolume1:
        type: number
        example: 3
      bidPrice1:
[...]
