swagger: '2.0'
info:
  title: Smartwin API doc
  description: >-
    Feed your trading app with Smartwin API.
    [Edit](http://editor.swagger.io/#/?import=https://api.invesmart.net/api/public/doc/swagger.yaml)
  version: 1.0.0
host: api.invesmart.net
schemes:
  - https
basePath: /api
produces:
  - application/json
consumes:
  - application/json
security:
  - jsonWebToken: []
paths:
  /public/auth/wechat:
    get:
      tags:
        - Auth
      summary: Get a token by Wechat scan auth
      description: >
        The Wechat auth endpoint is called by qiyehao, following a QRcode scan
        using the user Wechat. The QRcode url contain the client socket.io ID,
        so the server can push the jwt token to the client, and then redirect the user browser
        to https://api.invesmart.net/api/public/wxclose with a 302 redirect status.
      parameters:
        - name: code
          in: query
          description: server use it to query qiyehao user infos
          required: true
          type: string
        - name: state
          in: query
          description: This is the client socket.io ID
          required: true
          type: string
      responses:
        '302':
          description: Success
          headers:
            Location:
              description: https://api.invesmart.net/api/public/wxclose
              type: string
        '401':
          description: Invalid user
      security: []
  /public/auth/password:
    post:
      tags:
        - Auth
      summary: Get a token by password auth
      description: >
        Create a token for the user by userid + password.
      parameters:
        - name: body
          in: body
          description: This is the viewer password update object
          required: true
          schema:
            $ref: '#/definitions/authPassword'
      responses:
        '200':
          description: A token response
          schema:
            type: object
            required:
              - ok
              - token
            properties:
              ok:
                type: boolean
                default: true
              token:
                $ref: '#/definitions/Token'
        '401':
          description: Invalid password
        '404':
          description: User not found
      security: []
  /users:
    get:
      summary: Get all users profiles
      description: >
        Get all users profiles informations.
      tags:
        - Users
      responses:
        '200':
          description: The users profile infos
          schema:
            type: object
            required:
              - ok
              - users
            properties:
              ok:
                type: boolean
                default: true
              users:
                $ref: '#/definitions/Users'
        '404':
          description: Users not found
  /users/me:
    get:
      summary: Get viewer profile infos
      description: >
        Let the logged in user (the viewer) get his own personal infos (profile).
      tags:
        - Users
      responses:
        '200':
          description: The user profile infos
          schema:
            type: object
            required:
              - ok
            properties:
              ok:
                type: boolean
                default: true
              profile:
                $ref: '#/definitions/resProfile'
        '404':
          description: User not found
  /users/me/password:
    put:
      summary: Set or update user password
      description: >
        Let the logged in user set his password. If the user never set his
        password before, he just need to send his newPassword. After that,
        everytime he update his password, he needs to send his current password
        as well.
      parameters:
        - name: body
          in: body
          description: the new password the user wants
          required: true
          schema:
            $ref: '#/definitions/putPassword'
      tags:
        - Users
      responses:
        '200':
          description: The operation result response (true or false)
          schema:
            type: object
            required:
              - ok
            properties:
              ok:
                type: boolean
                default: true
        '401':
          description: Invalid password
        '404':
          description: User not found
  /funds:
    get:
      summary: Get all funds
      description: >
        Get all funds details.
      tags:
        - Funds
      responses:
        '200':
          description: The funds data
          schema:
            type: object
            required:
              - ok
              - funds
            properties:
              ok:
                type: boolean
                default: true
              funds:
                $ref: '#/definitions/FundsShort'
        '404':
          description: Funds not found
  /fund:
    post:
      summary: Create or update a fund
      tags:
        - Funds
      parameters:
        - name: body
          in: body
          description: The new or updated fund
          required: true
          schema:
            type: object
            required:
              - fund
            properties:
              fund:
                $ref: '#/definitions/Fund'
      responses:
        '200':
          description: The operation result response (true or false)
          schema:
            type: object
            required:
              - ok
            properties:
              ok:
                type: boolean
                default: true
    delete:
      summary: Delete a fund
      tags:
        - Funds
      parameters:
        - name: body
          in: body
          description: The fund to delete
          required: true
          schema:
            type: object
            required:
              - fundid
            properties:
              fundid:
                type: string
                example: "12345"
      responses:
        '200':
          description: The operation result response (true or false)
          schema:
            type: object
            required:
              - ok
            properties:
              ok:
                type: boolean
                default: true
  /funds/{fundid}:
    get:
      summary: Get a fund by its id
      tags:
        - Funds
      parameters:
        - name: fundid
          in: path
          description: The fund id
          required: true
          type: string
      responses:
        '200':
          description: The fund data
          schema:
            type: object
            required:
              - ok
              - fund
            properties:
              ok:
                type: boolean
                default: true
              fund:
                $ref: '#/definitions/Fund'
        '404':
          description: Fund not found
  /funds/{fundid}/total:
    get:
      summary: Get the total
      tags:
        - Funds
      parameters:
        - name: fundid
          in: path
          description: The fund id
          required: true
          type: string
        - name: tradingday
          in: query
          description: The tradingday
          required: false
          type: string
      responses:
        '200':
          description: The Total
          schema:
            type: object
            required:
              - ok
              - total
            properties:
              ok:
                type: boolean
                default: true
              total:
                $ref: '#/definitions/Total'
  /funds/{fundid}/netValue:
    get:
      summary: Get the netValue
      tags:
        - Funds
      parameters:
        - name: fundid
          in: path
          description: The fund id
          required: true
          type: string
        - name: tradingday
          in: query
          description: The tradingday
          required: true
          type: string
      responses:
        '200':
          description: The NetValue
          schema:
            type: object
            required:
              - ok
              - netValue
            properties:
              ok:
                type: boolean
                default: true
              netValue:
                $ref: '#/definitions/NetValue'
  /funds/{fundid}/netValues:
    get:
      summary: Get an array of NetValue
      tags:
        - Funds
      parameters:
        - name: fundid
          in: path
          description: The fund id
          required: true
          type: string
      responses:
        '200':
          description: An array of NetValue
          schema:
            type: object
            required:
              - ok
              - netValues
            properties:
              ok:
                type: boolean
                default: true
              netValues:
                $ref: '#/definitions/NetValues'
  /funds/{fundid}/fixedIncomes:
    get:
      summary: Get an array of FixedIncome
      tags:
        - Funds
      parameters:
        - name: fundid
          in: path
          description: The fund id
          required: true
          type: string
      responses:
        '200':
          description: An array of FixedIncome
          schema:
            type: object
            required:
              - ok
              - fixedIncomes
            properties:
              ok:
                type: boolean
                default: true
              fixedIncomes:
                $ref: '#/definitions/FixedIncomes'
  /funds/{fundid}/appends:
    get:
      summary: Get an array of Append
      tags:
        - Funds
      parameters:
        - name: fundid
          in: path
          description: The fund id
          required: true
          type: string
      responses:
        '200':
          description: An array of Append
          schema:
            type: object
            required:
              - ok
              - appends
            properties:
              ok:
                type: boolean
                default: true
              appends:
                $ref: '#/definitions/Appends'
  /funds/{fundid}/redemptions:
    get:
      summary: Get an array of Redemption
      tags:
        - Funds
      parameters:
        - name: fundid
          in: path
          description: The fund id
          required: true
          type: string
      responses:
        '200':
          description: An array of Redemption
          schema:
            type: object
            required:
              - ok
              - redemptions
            properties:
              ok:
                type: boolean
                default: true
              redemptions:
                $ref: '#/definitions/Redemptions'
  /funds/{fundid}/dividends:
    get:
      summary: Get an array of Dividend
      tags:
        - Funds
      parameters:
        - name: fundid
          in: path
          description: The fund id
          required: true
          type: string
      responses:
        '200':
          description: An array of Dividend
          schema:
            type: object
            required:
              - ok
              - dividends
            properties:
              ok:
                type: boolean
                default: true
              dividends:
                $ref: '#/definitions/Dividends'
  /funds/{fundid}/costOuts:
    get:
      summary: Get an array of CostOut
      tags:
        - Funds
      parameters:
        - name: fundid
          in: path
          description: The fund id
          required: true
          type: string
      responses:
        '200':
          description: An array of CostOut
          schema:
            type: object
            required:
              - ok
              - costOuts
            properties:
              ok:
                type: boolean
                default: true
              costOuts:
                $ref: '#/definitions/CostOuts'
  /orders:
    get:
      summary: Get all orders
      tags:
        - Orders
      parameters:
        - name: fundid
          in: query
          description: The fund unique ID
          required: true
          type: string
        - name: startTime
          in: query
          description: The start time filter
          required: false
          type: string
          format: date-time
        - name: endTime
          in: query
          description: The end time filter
          required: false
          type: string
          format: date-time
      responses:
        '200':
          description: The orders array
          schema:
            type: object
            required:
              - ok
              - orders
            properties:
              ok:
                type: boolean
                default: true
              orders:
                type: array
                items:
                  $ref: '#/definitions/Order'
  /order:
    get:
      summary: Get all details about a particular order
      tags:
        - Orders
      parameters:
        - name: orderno
          in: query
          description: The order id
          required: true
          type: string
      responses:
        '200':
          description: The Order
          schema:
            type: object
            required:
              - ok
            properties:
              ok:
                type: boolean
                default: true
              order:
                $ref: '#/definitions/Order'
    post:
      summary: Send an Order
      tags:
        - Orders
      parameters:
        - name: body
          in: body
          description: The new order to submit
          required: true
          schema:
            $ref: '#/definitions/OrderPost'
      responses:
        '200':
          description: The operation result response (true or false)
          schema:
            type: object
            required:
              - ok
            properties:
              ok:
                type: boolean
                default: true
    delete:
      summary: Delete a pending order
      tags:
        - Orders
      parameters:
        - name: body
          in: body
          description: The order to delete
          required: true
          schema:
            $ref: '#/definitions/OrderDelete'
      responses:
        '200':
          description: The operation result response (true or false)
          schema:
            type: object
            required:
              - ok
            properties:
              ok:
                type: boolean
                default: true
  /markets/futures/contracts:
    post:
      tags:
        - Markets
      summary: Get all futures contracts
      parameters:
        - name: body
          in: body
          description: This is the viewer password update object
          required: true
          schema:
            $ref: '#/definitions/reqFuturesContracts'
      responses:
        '200':
          description: The futures contracts data
          schema:
            type: object
            required:
              - ok
              - contracts
            properties:
              ok:
                type: boolean
                default: true
              contracts:
                type: array
                items:
                  $ref: '#/definitions/resFuturesContract'
  /markets/futures/products:
    get:
      tags:
        - Markets
      summary: Get all futures products with main instrumentid and openinterest
      responses:
        '200':
          description: The futures products data
          schema:
            type: object
            required:
              - ok
              - products
            properties:
              ok:
                type: boolean
                default: true
              products:
                type: array
                items:
                  $ref: '#/definitions/resFuturesProduct'
  /markets/futures/products.byExchange:
    get:
      tags:
        - Markets
      summary: Get all futures products organized by exchange
      responses:
        '200':
          description: The futures products data by exchange
          schema:
            type: object
            required:
              - ok
              - productsByExchange
            properties:
              ok:
                type: boolean
                default: true
              productsByExchange:
                type: array
                items:
                  $ref: '#/definitions/resFuturesProduct.ByExchange'
  /markets/futures/lastSnapshot:
    post:
      tags:
        - Markets
      summary: Get last Snapshot for a futures contract
      description: >
        Provide OHLC snapshot datas for futures contracts, and for a given contracts
      parameters:
        - name: body
          in: body
          description: This is the contract options
          required: true
          schema:
            $ref: '#/definitions/reqLastSnapshot'
      responses:
        '200':
          description: Quotes for a contract
          schema:
            type: object
            required:
              - ok
              - lastSnapshot
            properties:
              ok:
                type: boolean
                default: true
              lastSnapshot:
                type: array
                items:
                  $ref: '#/definitions/resSnapshot'
  /markets/futures/quotes:
    post:
      tags:
        - Markets
      summary: Get quotes for a futures contract
      description: >
        Provide OHLC candlestick datas for futures contracts, and for a given period
      parameters:
        - name: body
          in: body
          description: This is the contract quotes options
          required: true
          schema:
            $ref: '#/definitions/reqQuotes'
      responses:
        '200':
          description: Quotes for a contract
          schema:
            type: object
            required:
              - ok
              - quotes
            properties:
              ok:
                type: boolean
                default: true
              quotes:
                type: array
                items:
                  $ref: '#/definitions/bar'
  /markets/futures/indicators/bullBearTrend:
    post:
      tags:
        - Markets
      summary: Get trend indicators for futures indices
      description: >
        Create an indicator per day for bull (+1), bear (-1), and stagnant (0) markets
      parameters:
        - name: body
          in: body
          description: This is the indicator options
          required: true
          schema:
            $ref: '#/definitions/reqIndicator'
      responses:
        '200':
          description: Indicators for each symbol
          schema:
            type: object
            required:
              - ok
              - timeline
              - indicators
            properties:
              ok:
                type: boolean
                default: true
              timeline:
                type: array
                example: ["20160704", "20160630", "20160629", "20160628", "20160627", "20160624"]
                items:
                  type: string
              indicators:
                type: array
                items:
                  $ref: '#/definitions/resIndicator'
      security: []
  /markets/futures/indicators/contractDailyPriceSpeed:
    post:
      tags:
        - Markets
      summary: Get daily price difference for futures contracts
      description: >
        Get the price difference for each future contract (price speed) with uniform timeline
      parameters:
        - name: body
          in: body
          description: This is the indicator options
          required: true
          schema:
            $ref: '#/definitions/reqContractdailypricespeed'
      responses:
        '200':
          description: Indicators for each contract symbol
          schema:
            type: object
            required:
              - ok
              - timeline
              - indicators
            properties:
              ok:
                type: boolean
                default: true
              timeline:
                type: array
                example: ["20160624", "20160627", "20160628", "20160629", "20160630", "20160704"]
                items:
                  type: string
              indicators:
                type: array
                items:
                  $ref: '#/definitions/resContractdailypricespeed'
      security: []
  /codemap/catalogs:
    get:
      tags:
        - Codemap
      summary: Get catalogs
      parameters:
        - name: catalogs
          in: query
          description: filter for catalogs
          required: false
          type: array
          items:
            type: string
      responses:
        '200':
          description: Catalogs response
          schema:
            type: object
            required:
              - ok
              - catalogs
            properties:
              ok:
                type: boolean
                default: true
              catalogs:
                type: array
                items:
                  $ref: '#/definitions/Catalog'
  /codemap/catalog:
    post:
      tags:
        - Codemap
      summary: Add or Update a catalog
      parameters:
        - name: body
          in: body
          description: The catalog to create
          required: true
          schema:
            $ref: '#/definitions/Catalog'
      responses:
        '200':
          description: The operation result response (true or false)
          schema:
            type: object
            required:
              - ok
            properties:
              ok:
                type: boolean
                default: true
  /codemap/{catalogKey}:
    get:
      summary: Get a catalog by its key
      tags:
        - Codemap
      parameters:
        - name: catalogKey
          in: path
          description: The catalog key
          required: true
          type: string
      responses:
        '200':
          description: A catalog response
          schema:
            type: object
            required:
              - ok
              - catalog
            properties:
              ok:
                type: boolean
                default: true
              catalog:
                $ref: '#/definitions/Catalog'
    delete:
      summary: Delete a catalog
      tags:
        - Codemap
      parameters:
        - name: catalogKey
          in: path
          description: The catalog key
          required: true
          type: string
      responses:
        '200':
          description: The operation result response (true or false)
          schema:
            type: object
            required:
              - ok
            properties:
              ok:
                type: boolean
                default: true
  /codemap/{catalogKey}/items:
    get:
      tags:
        - Codemap
      summary: Get catalogs
      parameters:
        - name: catalogKey
          in: path
          description: The catalog key
          required: true
          type: string
      responses:
        '200':
          description: Items of the catalog
          schema:
            type: object
            required:
              - ok
              - items
            properties:
              ok:
                type: boolean
                default: true
              items:
                $ref: '#/definitions/CatalogItems'
  /codemap/{catalogKey}/item:
    post:
      tags:
        - Codemap
      summary: Add an item in a catalog
      parameters:
        - name: catalogKey
          in: path
          description: The catalog key
          required: true
          type: string
        - name: body
          in: body
          description: The item to create or update in the catalog
          required: true
          schema:
            $ref: '#/definitions/CatalogItem'
      responses:
        '200':
          description: The operation result response (true or false)
          schema:
            type: object
            required:
              - ok
            properties:
              ok:
                type: boolean
                default: true
    put:
      tags:
        - Codemap
      summary: Update an item in a catalog
      parameters:
        - name: catalogKey
          in: path
          description: The catalog key
          required: true
          type: string
        - name: body
          in: body
          description: The item to create or update in the catalog
          required: true
          schema:
            $ref: '#/definitions/CatalogItem'
      responses:
        '200':
          description: The operation result response (true or false)
          schema:
            type: object
            required:
              - ok
            properties:
              ok:
                type: boolean
                default: true
  /codemap/{catalogKey}/items/{itemKey}:
    get:
      summary: Get an item by its key
      tags:
        - Codemap
      parameters:
        - name: catalogKey
          in: path
          description: The catalog key
          required: true
          type: string
        - name: itemKey
          in: path
          description: The catalog item unique key
          required: true
          type: string
      responses:
        '200':
          description: The item response
          schema:
            type: object
            required:
              - ok
              - item
            properties:
              ok:
                type: boolean
                default: true
              item:
                $ref: '#/definitions/CatalogItem'
    delete:
      summary: Delete an item in a catalog
      tags:
        - Codemap
      parameters:
        - name: catalogKey
          in: path
          description: The catalog key
          required: true
          type: string
        - name: itemKey
          in: path
          description: The catalog item key
          required: true
          type: string
      responses:
        '200':
          description: The operation result response (true or false)
          schema:
            type: object
            required:
              - ok
            properties:
              ok:
                type: boolean
                default: true
  /token:
    get:
      tags:
        - Socket.IO
      summary: Get the user token on wechat scan
      responses:
        '200':
          description: Token generated on wechat scan
          schema:
            type: object
            required:
              - ok
              - token
            properties:
              ok:
                type: boolean
                default: true
              token:
                type: string
                example: 'eyJ0eXAiOiJKV1QiCCJhbGciOiJIUzI1NiJ9.eyJfaWQiOiI1NzZhNDNjNjUyNmRjZWRjMDcwMjg4YjMiLCJ1c2VyaWQiOiJ2aWN0b3IiLCJpYXQiOjE0NjY1ODE5NTh9.dwkwBdAb7bdbW8ey4PhZ6Zodhyo_4SMbkoMub1N4eCY'
  /setToken:
    post:
      tags:
        - Socket.IO
      summary: Set the user token to the socket connection
      parameters:
        - name: body
          in: body
          description: This is the token
          schema:
            $ref: '#/definitions/Token'
      responses:
        '200':
          description: Quotes for a contract
          schema:
            type: object
            required:
              - ok
            properties:
              ok:
                type: boolean
                default: true
        '400':
          description: Invalid query
          schema:
            $ref: '#/definitions/Error400'
  orders/subscribe:
    post:
      tags:
        - Orders.IO
      summary: Subscribe orders placement and execution of a fund
      parameters:
        - name: body
          in: body
          description: This is the orders subscribe request
          required: true
          schema:
            $ref: '#/definitions/SubscribeFundOrders'
      responses:
        '200':
          description: Response sent through callback function
          schema:
            type: object
            properties:
              ok:
                type: boolean
                default: true
  funds/unsubscribe:
    post:
      tags:
        - Funds.IO
      summary: Unsubscribe orders placement and execution of a fund
      parameters:
        - name: body
          in: body
          description: This is the orders unsubscribe request
          required: true
          schema:
            $ref: '#/definitions/SubscribeFundOrders'
      responses:
        '200':
          description: Response sent through callback function
          schema:
            type: object
            properties:
              ok:
                type: boolean
                default: true
  funds/order:
    get:
      tags:
        - Funds.IO
      summary: Receive an event for any order change
      responses:
        '200':
          description: The order placement
          schema:
            $ref: '#/definitions/Order'
  funds/done:
    get:
      tags:
        - Funds.IO
      summary: Receive an order execution object
      responses:
        '200':
          description: The order execution
          schema:
            $ref: '#/definitions/Order'
  markets/subscribe:
    post:
      tags:
        - Markets.IO
      summary: Subscribe live ticker
      parameters:
        - name: body
          in: body
          description: This is the ticker subscribe request
          required: true
          schema:
            $ref: '#/definitions/SubscribeTicker'
      responses:
        '200':
          description: Response sent through callback function
          schema:
            type: object
            properties:
              ok:
                type: boolean
                default: true
        '400':
          description: Invalid query
          schema:
            $ref: '#/definitions/Error400'
  markets/unsubscribe:
    post:
      tags:
        - Markets.IO
      summary: Unsubscribe live ticker
      parameters:
        - name: body
          in: body
          description: This is the ticker unsubscribe request
          required: true
          schema:
            $ref: '#/definitions/UnsubscribeTicker'
      responses:
        '200':
          description: Response sent through callback function
          schema:
            type: object
            properties:
              ok:
                type: boolean
                default: true
        '400':
          description: Invalid query
          schema:
            $ref: '#/definitions/Error400'
  markets/tick:
    get:
      tags:
        - Markets.IO
      summary: Receive ticker object
      responses:
        '200':
          description: The ticker
          schema:
            $ref: '#/definitions/tick'
  /errors:
    get:
      summary: Error examples
      description: >
        Example of all the errors the API can produce.
      tags:
        - Errors
      responses:
        '400':
          description: Invalid query
          schema:
            $ref: '#/definitions/Error400'
        '401':
          description: Invalid password
          schema:
            $ref: '#/definitions/Error401'
        '403':
          description: Access forbidden
          schema:
            $ref: '#/definitions/Error403'
        '404':
          description: Missing something
          schema:
            $ref: '#/definitions/Error404'
        '405':
          description: The method is not allowed
          schema:
            $ref: '#/definitions/Error405'
        '500':
          description: Internal error occured
          schema:
            $ref: '#/definitions/Error500'
        '501':
          description: Method not implemented
          schema:
            $ref: '#/definitions/Error501'
securityDefinitions:
  jsonWebToken:
    type: apiKey
    name: Authorization
    in: header
definitions:
  Order:
    type: object
    required:
      - fundid
    properties:
      fundid:
        type: string
        example: "1296"
      frontid:
        type: string
        example: 只有ctp用到
      sessionid:
        type: string
        example: 连接id 撤单的时候用到
      privateno:
        type: string
        example: ctp.OrderRef / st.private_no
      exchangeid:
        type: string
        example: 市场代码	ctp.ExchangID / st.MarketCode
      orderid:
        type: string
        example:	ctp.OrderSysID / st.order_no
      tradingday:
        type: string
        example: "20160801"
      brokerid:
        type: string
        example: 经纪
      requestid:
        type: string
        example: 请求id
      instrumentid:
        type: string
        example: "IF1609"
      direction:
        type: string
        example: 多空
      offsetflag:
        type: string
        example: 开平标志
      hedgeflag:
        type: string
        example: 套保标志
      price:
        type: string
        example: 委托价格
      volume:
        type: string
        example: 委托数量
      ordertype:
        type: string
        example: 委托类型
      orderstatus:
        type: string
        example: 报单状态
      volumetraded:
        type: string
        example: 报单状态
      insertdatetime:
        type: string
        example: example
      ordertime:
        type: string
        example: 委托时间  期货公司给交易所
      updatetime:
        type: string
        example: 最后修改时间
  OrderPost:
    type: object
    required:
      - fundid
      - exchangeid
      - instrumentid
      - direction
      - offsetflag
      - price
      - volume
    properties:
      fundid:
        type: string
        example: "1239"
        description: 基金ID
      exchangeid:
        type: string
        example: "SHFE"
        enum: ["SHFE", "CZCE", "DCE", "CFFEX"]
        description: 交易所
      instrumentid:
        type: string
        example: "IF1609"
        description: "合约ID"
      direction:
        type: string
        example: "L"
        enum: ["L", "S"]
        description: 多空方向 (L:买入, S:卖出)
      offsetflag:
        type: string
        example: "O"
        enum: ["O", "C"]
        description: (O:开仓, C:平仓)
      price:
        type: number
        example: 1394
        description: 委托价格
      volume:
        type: number
        example: 3
        description: 委托数量
      brokerid:
        type: string
        example: "9999"
        description: 经纪ID
      ordertype:
        type: string
        example: "1"
        enum: ["0", "1", "2", "3", "4"]
        default: "1"
        description: 订单类型	(0:市价, 1:限价, 2:最优价, 3:对手方最优, 4:市价最优5挡)
      hedgeflag:
        type: string
        example: "0"
        enum: ["0", "1", "2"]
        description: 套保 (0:投机/非备兑, 1:保值/备兑, 2:套利)
        default: "0"
      donetype:
        type: string
        example: "0"
        enum: ["0", "1", "2", "3"]
        default: "0"
        description: 成交类型 (0:GFD当日有效, 1:FOK限价全成或全撤, 2:FAK限价立即成交剩余撤销, 3:IOC立即成交剩余自动撤销)
  OrderDelete:
    type: object
    properties:
      fundid:
        type: string
        example: "hello"
      orderno:
        type: string
        example: "02910"
      instrumentid:
        type: string
        example: "IF1609"
      privateno:
        type: string
        example: "private number"
  Token:
    type: object
    required:
      - token
    properties:
      token:
        type: string
        example: 'eyJ0eXAiOiJKV1QiCCJhbGciOiJIUzI1NiJ9.eyJfaWQiOiI1NzZhNDNjNjUyNmRjZWRjMDcwMjg4YjMiLCJ1c2VyaWQiOiJ2aWN0b3IiLCJpYXQiOjE0NjY1ODE5NTh9.dwkwBdAb7bdbW8ey4PhZ6Zodhyo_4SMbkoMub1N4eCY'
  Users:
    type: array
    items:
      $ref: '#/definitions/resProfile'
  resProfile:
    type: object
    required:
      - userid
      - name
      - department
      - email
      - avatar
      - hasPassword
    properties:
      userid:
        type: string
        description: User userid from qiyehao
        example: victor
      name:
        type: string
        description: Name from qiyehao
        example: 鹏威
      department:
        type: array
        items:
          $ref: '#/definitions/Department'
      email:
        type: string
        description: Email from qiyehao
        example: victor.bonhomme@invesmart.cn
      avatar:
        type: string
        description: Avatar url from qiyehao
        example: http://shp.qpic.cn/bizmp/FUia0rytBsibJzaO5yxCyicbYWD2LvlGibDnH9o8UEXpQsqMaKUPmtNGtw
      hasPassword:
        type: boolean
        description: 'If user has a password, value is true, otherwise false'
        example: true
  Department:
    type: object
    properties:
      id:
        type: number
        example: 2
      name:
        type: string
        example: 系统部
      parentid:
        type: number
        example: 1
      order:
        type: number
        example: 200
  FundsShort:
    type: array
    items:
      $ref: '#/definitions/FundShort'
  FundShort:
    type: object
    properties:
      fundid:
        type: string
        example: "800002"
      fundname:
        type: string
        example: 慧网趋势1号
      issuedate:
        type: string
        example: "2014-09-16T16:00:00.000Z"
  Fund:
    type: object
    properties:
      fundid:
        type: string
        example: "800002"
        description: "Each fund has a unique fundid"
      fundname:
        type: string
        example: 慧网趋势1号
      manager:
        type: string
        example: 南华
      consultant:
        type: string
        example: 慧网基金
      hoster:
        type: string
        example: "null"
      transferbank:
        type: string
        example: "null"
      fundcode:
        type: string
        example: "06690263"
      fundmanager:
        type: string
        example: 王祥
      fundtype:
        type: string
        example: structured
      equitybeginning:
        type: number
        example: 30000000
      equityprior:
        type: number
        example: 20000000
      equityinferior:
        type: number
        example: 10000000
      issuedate:
        type: string
        example: "2014-09-16T16:00:00.000Z"
      period:
        type: object
        properties:
          type:
            type: string
            example: month
          value:
            type: number
            example: 12
      state:
        type: string
        example: clearout
      buysell:
        type: object
        properties:
          closeperiod:
            type: object
            properties:
              type:
                type: string
                example: month
              value:
                type: number
                example: 3
          openday:
            type: object
            properties:
              type:
                type: string
                example: month
              value:
                type: number
                example: 3
          threshold:
            type: number
            example: 1000000
          buyfee:
            type: object
            properties:
              type:
                type: string
                example: percent
              value:
                type: number
                example: 0
              min:
                type: number
                example: 0
          sellfee:
            type: object
            properties:
              type:
                type: string
                example: percent
              value:
                type: number
                example: 0
              min:
                type: number
                example: 0
      fixedcost:
        type: object
        properties:
          priorfee:
            type: object
            properties:
              type:
                type: string
                example: percent
              value:
                type: number
                example: 0
              min:
                type: number
                example: 0
          managefee:
            type: object
            properties:
              type:
                type: string
                example: fixed
              value:
                type: number
                example: 0
              min:
                type: number
                example: 0
          hostfee:
            type: object
            properties:
              type:
                type: string
                example: percent
              value:
                type: number
                example: 0
              min:
                type: number
                example: 0
          outsourcefee:
            type: object
            properties:
              type:
                type: string
                example: percent
              value:
                type: number
                example: 0
              min:
                type: number
                example: 0
      reward:
        type: object
        properties:
          manager:
            type: object
            properties:
              type:
                type: string
                example: percent
              value:
                type: number
                example: 0
              min:
                type: number
                example: 0
          consultant:
            type: object
            properties:
              type:
                type: string
                example: percent
              value:
                type: number
                example: 0
              min:
                type: number
                example: 0
      trading:
        type: object
        properties:
          api:
            type: string
            example: ctp
          brokerid:
            type: string
            example: "null"
          brokername:
            type: string
            example: 南华
          account:
            type: string
            example: "null"
          password:
            type: string
            example: "12345"
          server:
            type: array
            example: ["null"]
            items:
              type: string
          cellid:
            type: string
            example: "800002"
      service:
        type: object
        properties:
          ip:
            type: string
            example: "127.0.0.1"
          port:
            type: string
            example: "0000"
          key:
            type: string
            example: HWQS1
  Total:
    type: object
    required:
      - fixedincome
    properties:
      fixedincome:
        type: number
        example: 30000000
      fixedincomereturns:
        type: number
        example: 0
      append:
        type: number
        example: 0
      appendshare:
        type: number
        example: 0
      redemption:
        type: number
        example: 0
      dividend:
        type: number
        example: 0
      dividendnetvalue:
        type: number
        example: 0
      cost:
        type: number
        example: 219241.39
      priority:
        type: number
        example: 197698.63
      management:
        type: number
        example: 17952.29
      outsource:
        type: number
        example: 0
      hosting:
        type: number
        example: 3590.47
      costout:
        type: number
        example: 0
  NetValues:
    type: array
    items:
      $ref: '#/definitions/NetValue'
  NetValue:
    type: object
    required:
      - fundid
    properties:
      fundid:
        type: string
        example: 1285
      tradingday:
        type: string
        example: 20160115
      equity:
        type: object
        properties:
          last:
            type: number
            example: 28804043.61
          open:
            type: number
            example: 28804043.61
          high:
            type: number
            example: 28804043.61
          low:
            type: number
            example: 28804043.61
          close:
            type: number
            example: "null"
          settle:
            type: number
            example: "null"
      netvalue:
        type: object
        properties:
          last:
            type: number
            example: 0.9764
          open:
            type: number
            example: 0.9764
          high:
            type: number
            example: 0.9764
          low:
            type: number
            example: 0.9764
          close:
            type: number
            example: "null"
          settle:
            type: number
            example: "null"
          dividend:
            type: number
            example: 0
          inferior:
            type: number
            example: 0.9292
      updatedate:
        type: string
        example: "2016-01-15T12:51:01.000Z"
  FixedIncomes:
    type: array
    items:
      $ref: '#/definitions/FixedIncome'
  FixedIncome:
    type: object
    properties:
      tradingday:
        type: string
        example: "20160113"
      fixedincome:
        type: object
        properties:
          amount:
            type: number
            example: 30000000
  Appends:
    type: array
    items:
      $ref: '#/definitions/Append'
  Append:
    type: object
    properties:
      tradingday:
        type: string
        example: "20160308"
      append:
        type: object
        properties:
          amount:
            type: number
            example: 5000000
          netvalue:
            type: number
            example: 1.2469
          share:
            type: number
            example: 4009944.66
  Redemptions:
    type: array
    items:
      $ref: '#/definitions/Redemption'
  Redemption:
    type: object
    properties:
      tradingday:
        type: string
        example: "20160616"
      redemption:
        type: object
        properties:
          amount:
            type: number
            example: 80000
          netvalue:
            type: number
            example: 0
          share:
            type: number
            example: 0
          actual:
            type: number
            example: 80000
  Dividends:
    type: array
    items:
      $ref: '#/definitions/Dividend'
  Dividend:
    type: object
    properties:
      tradingday:
        type: string
        example: "20140905"
      dividend:
        type: object
        properties:
          amount:
            type: number
            example: 200000
          netvalue:
            type: number
            example: 0
  CostOuts:
    type: array
    items:
      $ref: '#/definitions/CostOut'
  CostOut:
    type: object
    properties:
        tradingday:
          type: number
          example: 20160119
        fixedcost:
          type: object
          properties:
            total:
              type: number
              example: 259046.54
            priority:
              type: number
              example: 233643.84
            management:
              type: number
              example: 21168.91
            outsource:
              type: number
              example: 0
            hosting:
              type: number
              example: 4233.79
            actual:
              type: number
              example: 79942.03
            remark:
              type: string
              example: 期货公司实际扣除明细备注
  putPassword:
    type: object
    required:
      - newPassword
    properties:
      newPassword:
        type: string
      password:
        type: string
        format: password
  authPassword:
    type: object
    required:
      - userid
      - password
    properties:
      userid:
        type: string
      password:
        type: string
        format: password
  resFuturesProduct:
    type: object
    required:
      - exchangeid
      - productname
      - productid
      - mainins
      - maininsopeninterest
    properties:
      exchangeid:
        type: string
        example: "SHFE"
      productname:
        type: string
        example: "热轧卷板"
      productid:
        type: string
        example: "hc"
      mainins:
        type: string
        example: "hc1610"
      maininsopeninterest:
        type: number
        example: 2172398
  resFuturesProduct.ByExchange:
    type: object
    required:
      - exchangeid
      - products
    properties:
      exchangeid:
        type: string
        example: "SHFE"
      products:
        type: array
        items:
          $ref: '#/definitions/resFuturesProduct'
  reqLastSnapshot:
    type: object
    required:
      - symbols
    properties:
      symbols:
        type: array
        example: ["IC1608","a1701"]
        items:
          type: string
  resSnapshot:
    type: object
    required:
      - maxtradingday
      - instrument
      - tradingday
      - average
      - close
      - high
      - low
      - open
      - openinterest
      - preclose
      - preoopeninterest
      - presettlement
      - settlement
      - turnover
      - volume
    properties:
      maxtradingday:
        type: string
        example: "20160704"
      instrument:
        type: string
        example: "IF1608"
      tradingday:
        type: string
        example: "20160704"
      average:
        type: number
        example: 936367.191283293
      close:
        type: number
        example: 3136
      high:
        type: number
        example: 3200
      low:
        type: number
        example: 3058.4
      open:
        type: number
        example: 3058.4
      openinterest:
        type: number
        example: 2217
      preclose:
        type: number
        example: 3062.4
      preoopeninterest:
        type: number
        example: 1880
      presettlement:
        type: number
        example: 3074.2
      settlement:
        type: number
        example: 0
      turnover:
        type: number
        example: 773439300
      volume:
        type: number
        example: 826
  reqFuturesContracts:
    type: object
    required:
      - symbols
      - exchanges
      - ranks
      - productClasses
      - isTrading
    properties:
      symbols:
        type: array
        example: ["all"]
        items:
          type: string
      exchanges:
        type: array
        example: ["all"]
        items:
          type: string
      ranks:
        type: array
        example: [1, 2]
        items:
          type: number
      productClasses:
        type: array
        example: ["1", "8", "9"]
        items:
          type: string
      isTrading:
        type: array
        example: [1, 0]
        items:
          type: number
  resFuturesContract:
    type: object
    required:
      - instrumentid
      - exchangeid
      - istrading
      - productid
      - productclass
    properties:
      instrumentid:
        type: string
        example: "fu1604"
      exchangeid:
        type: string
        example: "SHFE"
      instrumentname:
        type: string
        example: "燃料油1604"
      istrading:
        type: number
        example: 1
      productid:
        type: string
        example: "fu"
      productclass:
        type: string
        example: "1"
      rank:
        type: number
        example: 1
        enum: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
  reqQuotes:
    type: object
    required:
      - symbol
      - resolution
      - startDate
      - endDate
    properties:
      symbol:
        type: string
        example: "IF1606"
      resolution:
        type: string
        example: "minute"
        enum: ["minute", "day"]
      startDate:
        type: string
        example: "20150401"
      endDate:
        type: string
        example: "20160401"
  SubscribeTicker:
    type: object
    required:
      - type
      - symbol
      - resolution
    properties:
      type:
        type: string
        example: "futures"
      symbol:
        type: string
        example: "IF1606"
      resolution:
        type: string
        example: "tick"
  UnsubscribeTicker:
    type: object
    required:
      - type
      - symbol
      - resolution
    properties:
      type:
        type: string
        example: "futures"
      symbol:
        type: string
        example: "all"
        description: if "all", will ignore the resolution and unsubscribe from all resolutions of all symbols previously subscribed to
      resolution:
        type: string
        example: "tick"
  SubscribeFundOrders:
    type: object
    required:
      - fundid
    properties:
      fundid:
        type: string
        example: "123456"
  bar:
    type: object
    required:
      - timestamp
      - open
      - high
      - low
      - close
      - volume
      - tradingDay
    properties:
      timestamp:
        type: number
        example: 1464182400000
      open:
        type: number
        example: 1560
      high:
        type: number
        example: 1575
      low:
        type: number
        example: 1554
      close:
        type: number
        example: 1556
      volume:
        type: number
        example: 234
      tradingDay:
        type: string
        example: "IF1606"
  tick:
    type: object
    properties:
      askPrice1:
        type: number
        example: 3172
      askVolume1:
        type: number
        example: 3
      bidPrice1:
        type: number
        example: 3171.2
      bidVolume1:
        type: number
        example: 2
      openInterest:
        type: number
        example: 1556
      price:
        type: number
        example: 1560
      resolution:
        type: string
        example: 'tick'
      symbol:
        type: string
        example: 'IF1607'
      timestamp:
        type: number
        example: 1464182400000
      totalTurnover:
        type: number
        example: 11005455780
      totalVolume:
        type: number
        example: 11557
      tradingDay:
        type: string
        example: "20160708"
      turnover:
        type: number
        example: 951600
      volume:
        type: number
        example: 1
  reqIndicator:
    type: object
    properties:
      startDate:
        type: string
        example: "20150401"
      endDate:
        type: string
        example: "20160401"
      symbols:
        type: array
        example: ["all"]
        items:
          type: string
  resIndicator:
    type: object
    properties:
      symbol:
        type: string
        example: "agIDX"
      name:
        type: string
        example: "白银指数"
      values:
        type: array
        example: [1, 1, 0, 0,-1, -1]
        items:
          type: number
  Catalog:
    type: object
    required:
      - catalog
      - name
      - description
    properties:
      catalog:
        type: string
        example: fund.status
      name:
        type: string
        example: 基金状态
      description:
        type: string
        example: 标识基金账户当前的状态或类型
  CatalogItems:
    type: array
    items:
      $ref: '#/definitions/CatalogItem'
  CatalogItem:
    type: object
    required:
      - key
    properties:
      key:
        type: string
        example: item key
      zh:
        type: string
        example: item value
  reqContractdailypricespeed:
    type: object
    properties:
      symbols:
        type: array
        example: ["c","IF"]
        items:
          type: string
  resContractdailypricespeed:
    type: object
    properties:
      symbol:
        type: string
        example: "ni1609"
      productSymbol:
        type: string
        example: "ni"
      values:
        type: array
        example: [0, 240, 560, -130, -70, -30]
        items:
          type: number
  Error400:
    type: object
    properties:
      ok:
        type: boolean
        default: false
      error:
        type: string
        example: Invalid query
  Error401:
    type: object
    properties:
      ok:
        type: boolean
        default: false
      error:
        type: string
        example: Invalid password
  Error403:
    type: object
    properties:
      ok:
        type: boolean
        default: false
      error:
        type: string
        example: Access forbidden
  Error404:
    type: object
    properties:
      ok:
        type: boolean
        default: false
      error:
        type: string
        example: Missing something
  Error405:
    type: object
    properties:
      ok:
        type: boolean
        default: false
      error:
        type: string
        example: Method not allowed
  Error500:
    type: object
    properties:
      ok:
        type: boolean
        default: false
      error:
        type: string
        example: Internal Server Error
  Error501:
    type: object
    properties:
      ok:
        type: boolean
        default: false
      error:
        type: string
        example: Method not implemented
