.positive {
  background: red;
  color: #FFFFFF;
}

.negative {
  background: green;
  color: #FFFFFF;
}

.change-positive {
  color: red;
}

.change-negative {
  color: green;
}

.row {
  margin-bottom: 20px;
}

.container-fluid {
  margin-right: 10px;
  margin-left: 10px;
}

.child {
    vertical-align:middle;
    text-align:center;
    margin-top: 20px;
}

th {
   text-align: center;
}

td {
   text-align: center;
}

.turnover {
  width: 90px;
}
